body {
  background-color: bisque;
}

.box {
  width: 100%;
  height: 200px;
  border: 1px solid black;
  margin: 5px;
}

.box1 {
  background-color: aquamarine;
  transition: all 1s cubic-bezier(0.78, -0.04, 0.71, 1.18);
}

.box2 {
  background-color: aqua;
  height: 100px;

}

.box3 {
  background-color: cyan;
}

.box1:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.box1:hover + .box {
  /*  display: block;*/
  max-height: 100px;
  opacity: 1;


}

.box2 {
  /*  display: none;*/
  max-height: 0;
  opacity: 0;
  transition: opacity 0.5s cubic-bezier(0.78, -0.04, 0.71, 1.18), max-height 1s;
}
