/* Colors */
$hel-red: #9A0941;
$hel-rot1: #D35186;
$hel-rot2: #E597B6;
$hel-rot3: #F6DCE7;

$hel-ocker1: #CAB790;
$hel-ocker2: #DFD4BC;
$hel-ocker3: #F4F1E9;

$hel-gruen1: #B3BA12;
$hel-gruen2: #D1D671;
$hel-gruen3: #F0F1D0;

$hel-gelb1: #FED037;
$hel-gelb2: #FEE387;
$hel-gelb3: #FFF6D7;

$hel-blau1: #8296C4;
$hel-blau2: #B4C0DC;
$hel-blau3: #E6EAF3;
$hel-blau9: #4a5a7d;

$hel-orange1: #F08100;
$hel-orange2: #F6B366;
$hel-orange3: #FCE6CC;

$color-toast-success: #5EF36D;
$color-toast-warn: #F8C264;
$color-toast-error: #F86464;

/* Colors for Ranges */
$bgColor: white;
$bgTooltipp: rgb(105, 104, 104);
$bgSchraffur: #f5f5f5;
$bgSchraffurHeader: #bcbcbc;

/* Font Colors */

$fc1: rgba(0, 0, 0, 0.8); // Dunkles grau (auf hellem Grund)
$fc1-1: rgba(0, 0, 0, 0.5); // helleres grau (auf hellem Grund)
$fc1-2: rgba(0, 0, 0, 0.2); // hellstes grau (auf hellem Grund)


$fc2: rgba(255, 255, 255, 1); // Helles grau (auf dunklem Grund)
$fc2-1: rgba(255, 255, 255, 0.5); // nicht so helles Grau (auf dunklem Grund)
