/* Kombinierte Mixins (Sets) */

// einbauen mit 
//  @include boxShadow1;


@mixin checkfields($color1: $hel-blau1) {

  // innerhalb des feedbackitems

  .radioitem {
    @include checkfield-unchecked($color1);
  }

  .radioitem.selected {
    @include checkfield-checked($color1);
  }

  .radiogroup {
    display: flex;
    align-content: center;

    label:first-of-type {
      border-right: none;
    }
  }
}

@mixin borderForCustomElements($color: $hel-blau1) {
  .value {
    @include borderLight($color);
    padding: 1em;

  }

  margin-top: 0.5em;
  margin-bottom: 1em;
}

@mixin boxElevationLow($color: $hel-blau1) {
  @include borderLight($color);
  @include boxShadowLow;
  @include transitionFast;

  &:hover {
    @include boxShadowMedium;
  }
}

@mixin boxElevationMedium($color: $hel-blau1) {
  @include borderLight($color);
  @include boxShadowMedium;
  @include transitionFast;

  &:hover {
    @include boxShadowHigh;
  }
}

@mixin boxElevationHigh($color: $hel-blau1) {
  @include borderMedium($color);
  @include boxShadowHigh;
  @include transitionFast;
}

@mixin boxElevationHighest($color: $hel-blau1) {
  @include borderMedium($color);
  @include boxShadowHighest;
  @include transitionFast;
}

@mixin toolTippHelp($color: $hel-blau1) {
  width: 250px;
  background-color: $bgTooltipp;
  color: $fc2;
  text-align: center;
  padding: 5px 0;
  border-radius: 3px;
  @include boxShadowMedium;

  /* Tooltip arrow */

}

@mixin toolTippIndicator($color: $hel-blau1) {
  border-bottom: 1px dotted lighten($color, 15%);
  cursor: help;
}
