// einbauen mit 
// 
//  @include boxShadow1;
@mixin mainH1($color) {
  font-size: 24px;
  font-weight: 400;
  color: $color;
  padding-bottom: 1em;
}

/* Fonts */

$Font1Screen: 'Roboto',
sans-serif;

$Font2Screen:'Roboto',
sans-serif;

$Font1Print: 'Roboto',
serif;
$Font2Print: 'Roboto',
serif;



/*     Feedbackitems */
@mixin fontBasic {

  font-size: 16px;
  font-family: $Font1Screen;
  font-weight: 400;
  line-height: 1.5;

  color: $fc1;

  @media print {
    font-size: 12px;
    font-family: $Font1Print;
  }
}

@mixin fontFiLabels {
  @include fontBasic;
  text-align: right;
}

@mixin fontFiValues {
  @include fontBasic;
  font-weight: 700;
}

// Überschriften
@mixin fontHeaders {

  font-size: 16px;
  font-family: $Font2Screen;
  font-weight: 700;
  line-height: 1.5;

  color: $fc1;

  @media print {
    font-size: 12px;
    font-family: $Font2Print;
  }
}

@mixin fontFiValuesTabTitels() {
  font-size: 12px;
  font-family: Font1Screen;
  font-weight: 700;
  line-height: 1;
  padding-left: 0.5em;
}

@mixin fontFiValuesTabTitelsSub() {
  font-size: 12px;
  font-family: Font1Screen;
  font-weight: 400;
  line-height: 1;
}

// Spezielle Styles
@mixin fontFiMarkerValue {
  font-size: 16px;
  font-family: $Font1Screen;
  font-weight: 400;
  line-height: 1;
  font-style: italic;
  color: $fc1-1;

  @media print {
    font-family: $Font1Print;
  }
}

@mixin hintStyles {
  @include fontBasic;

  color: $fc1-1;

  font-size: 14px;
  font-style: italic;

  margin-top: 0.25em;
  margin-bottom: 0.5em;
  max-width: 45em;

  @media print {
    font-size: 12px;
  }
}

@mixin helpStyles {

  @include fontBasic;

  color: $hel-blau1;
  font-size: 14px;

  margin-top: 0.25em;
  margin-bottom: 0.5em;
  max-width: 45em;

  @media print {
    display: none;
  }
}




@mixin boxShadowLow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

@mixin boxShadowMedium {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

@mixin boxShadowHigh {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

@mixin boxShadowHighest {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22)
}

@mixin borderLight($color: $hel-blau1) {
  border: solid 1px lighten($color, 25%);
  //  border-radius: 3px;
}

@mixin borderMedium($color: $hel-blau1) {
  border: solid 1px darken($color, 5%);
  //  border-radius: 3px;
}

@mixin transitionSlow {
  transition: all 0.6s cubic-bezier(.25, .8, .25, 1);
}

@mixin transitionFast {
  transition: all 0.2s cubic-bezier(.25, .8, .25, 1);
}

@mixin rotate45 {
  transform: rotate(45deg);
  @include transitionSlow;
}

@mixin rotate0 {
  transform: rotate(0deg);
  @include transitionSlow;
}

@mixin hoverColorChange($color: $hel-blau1) {
  @include transitionSlow;

  &:hover {
    background-color: lighten($color, 30%);
    cursor: pointer;
  }
}

@mixin checkfield-unchecked($color) {
  @include borderLight;
  padding: 0 0.5em;
  width: 100%;

  &:hover {
    background-color: lighten($color, 30%);
    cursor: pointer;
  }
}

@mixin checkfield-checked($color) {
  @include transitionFast;
  @include borderMedium;

  &:hover {
    @include boxShadowLow;
  }

  background-color: $color;
  color: white;
}
