/* Colors */

$color-main: #181c26;
$color-main: #1a6f7b;
$color-sec1: #8296C4;
$color-sec2: #CAB790;

$color-font-dunkel: rgba(0, 0, 0, 0.8);
$color-font-hell: rgba(255, 255, 255, 0.8);

* {
  font-family: 'Roboto', sans-serif;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

h1 {
  font-family: 'Anton', sans-serif;
}

h1 {
  font-size: 48px;
}

body {
  display: grid;
  grid-template-columns: minmax(min-content, 100vh) minmax(33vw 1fr);

  height: 100vh;
  overflow-y: scroll;
}

main {

  grid-column: 1;
  grid-row: 1;

  background-color: $color-main;
  color: white;

  padding: 5vh 5vw 2vh 5vw;

  display: grid;

  grid-template-rows: min-content min-content min-content 1fr min-content;
  grid-template-columns: 1fr min-content;
  grid-template-areas:
    "big big"
    ". icon"
    "titel ."
    "content content"
    "list list";

  a {
    color: white;
    text-decoration: none;
  }

  .seitentitel {
    grid-area: big;
    font-size: calc(10vw + 20px);

  }

  .icon {
    grid-area: icon;
    text-align: right;
    font-size: calc(10vw + 20px);
    padding-right: 2vw;
    padding-bottom: 2vh;
  }

  .content {
    grid-area: content;
    font-size: 20px;
    //    max-width: 500px;
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.8);

    //    font-family: 'Roboto', sans-serif;

    a {
      color: $color-sec2;
    }

    h1 {
      white-space: nowrap;
      color: white;
    }
  }

  .list {
    grid-area: list;
    align-self: start;
    margin-top: 1em;

    h1 {
      //      font-family: 'Roboto', sans-serif;
    }

    ul {
      display: flex,
    }

    li {
      list-style: none;
      display: grid;
      grid-gap: 0 16px;
      grid-template-columns: max-content 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "icon kommentar""icon datum";
      margin: 16px 16px 0 0;
      color: $color-font-hell;

      i {
        grid-area: icon;
        font-size: 2em;
        color: white;
        //        width: 3em;

      }

      .datum {
        grid-area: datum;

      }

      .kommentar {
        grid-area: kommentar;
        color: white;
      }
    }
  }

  .credits {
    grid-area: credits;
    color: rgba(255, 255, 255, 0.5);

    a {
      color: $color-sec2;
    }
  }
}

.right {
  grid-column: 2;
  grid-row: 1;
  padding: 5vw;
  padding-bottom: 2vh;

  display: grid;
  grid-template-rows: 1fr min-content;

  nav.startseite {
    grid-row: 1;
  }

  div.credits {
    grid-row: 2;
  }

  .accordion {
    background-color: $color-sec2;
    cursor: pointer;
    border-radius: 5px;

    .accordion-header {
      color: white;
      font-size: calc(5vw + 20px);
      padding: 5px 30px 2px 15px;
      margin-bottom: 3px;

      i {
        float: right;
      }
    }

    &:hover {
      background-color: $color-sec2;
      cursor: pointer;

      .accordion-header {
        color: white;
      }
    }

    &.closed {
      background-color: white;

      .accordion-header {
        color: $color-sec2;
      }
    }
  }

  ul {
    padding: 30px 10px 60px 8px;

    li {
      font-size: 20px;
      display: block;

      a {
        text-decoration: none;
        color: white;
        display: block;
        padding: 0.5em 7px;
        border-radius: 5px;

        transition: all 0.2s ease-in-out;

        span {
          font-weight: 700;
        }

        &:hover {
          background-color: white;
          color: $color-font-dunkel;
        }
      }
    }
  }
}

/* Sichtbarkeit steuern */
nav.startseite {
  .accordion:not(.closed) {
    > h1 > i {
      transform: rotate(0deg);
      //      transition: transform 0.2s ease-in-out;
    }

    .accordion-body li {
      max-height: 1000px;
      opacity: 1;
      transition: all 0.2s ease-in-out;
    }
  }

  .accordion.closed {
    > h1 > i {
      transform: rotate(90deg);
      //      transition: transform 0.5s ease-in-out;
    }

    .accordion-body li {
      max-height: 0;
      opacity: 0;
      overflow: hidden;
      transition: all 0.2s ease-in-out;
    }
  }
}
