@import 'mixins';
@import 'colors';




/* Fonts */
* {
  font-family: 'Roboto', sans-serif;
}

/* Styles für alles */
body {
  display: grid;
  grid-template-columns: 1fr 1000px 1fr;
  grid-template-rows: 60px 1fr;
  background-color: $hel-ocker3;

  li {
    list-style: none;
  }
}

header {
  grid-column: 1/4;
  grid-row: 1;

  .wobinich {
    display: flex;
  }
}

.infopanel {
  grid-column: 1;
  grid-row: 2/3;
}

.printarea {
  grid-column: 2;
  grid-row: 2;
  background-color: white;
  @include boxShadowLow;
  padding: 0 3em 5em;

  .printheader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      margin-top: 20px;
      font-size: 30px;
    }
  }

  .printmain {
    ul {
      margin: 1em 0;
      padding-top: 1em;
      border-bottom: 1px solid $fc1-1;

      li {
        display: flex;
        padding-bottom: 1em;

        .label {
          flex: 0 1 250px;
        }

        .values {
          font-weight: 700;
        }
      }
    }
  }



  .content {
    &.ub-kurz {

      #zusatzinformationen,
      #anamnese {
        display: none;
      }

      .accordion:not(.hasvalues) {
        display: none;
      }
    }

    .value.edit,
    .actions {
      display: none !important;
    }
  }

  .container1 > .accordion-header {
    font-size: 18px;
    font-weight: 700;
    border-bottom: 1px solid $fc1-1;
    margin-top: 2em;
    margin-bottom: 0.5em;
  }

  .container2 > .accordion-header {
    font-size: 16px;
    font-weight: 700;
    //    border-bottom: 1px solid $fc1-1;
    margin-top: 2em;
    margin-bottom: 0.5em;
  }

  .container3 > .accordion-header {
    font-size: 14px;
    font-weight: 700;
    //    border-bottom: 1px solid $fc1-1;
    margin-top: 2em;
    margin-bottom: 0.5em;
  }

  .feedbackitem > div {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: mincontent min-content;
    grid-gap: 10px;
    margin-bottom: 1em;

    .infos {
      grid-column: 1 / 3;
      grid-row: 1;

      .hint {
        font-size: 12px;
      }

      .help {
        display: none;
      }

    }

    label {
      grid-column: 1;
      grid-row: 2;
      text-align: right;
    }

    .values {
      grid-column: 2;
      grid-row: 2;

      .value {
        display: grid;
        grid-template-columns: repeat(12, 49px);
        grid-gap: 4px;

        p,
        .pos1 {
          grid-column: 1/13;
          grid-row: 1;
          font-weight: 700;
        }

        .pos2 {
          grid-column: 3/13;
          grid-row: 1;
        }

        .td {
          border: 1px solid $fc1-2;
          padding: 4px;
          height: 24px;
          margin-bottom: 3px;
          margin-right: 3px;

        }
      }
    }
  }

  // spezielle Styles für einzelne Feedbackitems
  .feedbackitem {

    .check_von_bis,
    .custom_vminfo {
      input[type=""] {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }

      i {
        color: $fc1-2;
      }


      .checkmark:hover {
        //      color: $fc1-1 !important;
        color: $hel-orange1 !important;
        cursor: pointer;
      }
    }

    .check_von_bis {
      input[type="date"] {
        width: auto;
        margin-left: 1em;
      }

      .date.hidden {
        opacity: 0;
        transition: all 0.3s ease-in-out;
      }

      .date.visible {
        opacity: 1;
        transition: all 0.3s ease-in-out;
      }

      .von {
        grid-column: 2/6;
      }

      .bis {
        grid-column: 6/10;
      }
    }

    .fitext,
    .text_singleline {
      input {
        grid-column: 1 / 13;
      }
    }

    .fitextarea,
    .text_multiline {
      .textarea {
        grid-column: 1 / 13;
      }
    }

    .custom_aerzte {}

    .custom_vminfo {

      // einzelne Felder anhand der Source_id ausblenden ?!
      &#FI_DOCIV {

        .uvgcasenumber,
        .decision {
          display: none;
        }
      }

      &#FI_DOCUVG {
        .decree {
          display: none;
        }
      }

      &#FI_DOCHP {

        .uvgcasenumber,
        .decree {
          display: none;
        }
      }
    }

    .datum {
      input {
        grid-column: 1/7;
      }
    }

    .fizahltext {
      input.value {
        grid-column: 1 /3;
      }

      input.bemerkung {
        grid-column: 3 / 13;
      }
    }

    .finegposbem,
    .fineinjabem,
    .fiunaufbem,
    .ja_nein_bemerkung {
      .radio {
        cursor: pointer;
      }

      .no {
        grid-column: 1/3;
      }

      .yes {
        grid-column: 3/5;
      }

      .bemerkung {
        grid-column: 5/13;
      }

      .selected {
        background-color: $hel-blau1;
        border-color: $hel-blau1;
        color: white;
        transition: background-color 0.5s ease;
      }
    }

    .cus-bmi,
    .custom_bmi {
      .bmi {
        grid-column: 1 / 3;
      }

      .td.bmi {
        font-weight: 700;
      }

      .groesse {
        grid-column: 3 / 5;
      }

      .gewicht {
        grid-column: 5 / 7;
      }

      .bemerkung {
        grid-column: 7 / 13;
      }

    }

    .cus-auf,
    .custom_auf {
      .value:hover {
        @include boxShadowMedium;
        cursor: grab;
      }

      .beginn {
        grid-column: 1 / 3;
      }

      .ende {
        grid-column: 3 / 5;
      }

      .grad {
        grid-column: 5 / 7;
      }

      .verlauf {
        grid-column: 7 / 13;
      }
    }

    .cus-bld,
    .custom_blutdruck {
      .zeit {
        grid-column: 1 / 3;
      }

      .druck {
        grid-column: 3 / 5;
      }

      .kommentar {
        grid-column: 5 / 13;
      }
    }

    .cus-visus,
    .cus-visuskor,
    .custom_visus {
      .value {
        grid-template-rows: repeat(4, min-content);
      }

      .values .subtitle:first-of-type ~ .subtitle {
        margin-top: 2em;
      }

      .thc {
        grid-row: 1;
      }

      .th2 {
        grid-row: 2;
      }

      .fe {
        grid-column: 2/4;
        //      text-align: center;
      }

      .na {
        grid-column: 5;
      }

      .l {
        grid-row: 3;
      }

      .e {
        grid-row: 4;
      }

      thr {
        grid-column: 1;
      }

      .re {
        grid-column: 2/4;
      }

      .li {
        grid-column: 4/6;
      }

      .bi {
        grid-column: 7/9;
      }

    }

    .cus-korrektur .value {
      grid-template-rows: repeat(4, min-content);

      .thr {
        grid-column: 1;
      }

      .re {
        grid-column: 2/4;
      }

      .li {
        grid-column: 4/6;
      }

      .thc {
        grid-row: 1;
      }

      .sph {
        grid-row: 2;
      }

      .cyl {
        grid-row: 3;
      }

      .add {
        grid-row: 4;
      }
    }

    .cus-ergmessung,
    .custom_emessung {
      label {
        padding: 0;
      }

      .methode {
        grid-column: 1/6;
      }

      .resultat {
        grid-column: 6/13;
      }
    }

    .cus-anomaloskop,
    .custom_farbsinn {
      grid-row: repeat(4, min-content);

      .thc {
        grid-row: 1;
      }

      .r15 {
        grid-row: 2;
      }

      .r13 {
        grid-row: 3;
      }

      .r12 {
        grid-row: 4;
      }

      .thr {
        grid-column: 1;
      }

      .v1 {
        grid-column: 2;
      }

      .v2 {
        grid-column: 3;
      }

      .v3 {
        grid-column: 4;
      }

      .v4 {
        grid-column: 5;
      }

      .v5 {
        grid-column: 6;
      }

      .v6 {
        grid-column: 7;
      }
    }

    .cus-audio,
    .custom_audio {
      grid-row: repeat(3, min-content);

      .thc {
        grid-row: 1;
      }

      .re {
        grid-row: 2;
      }

      .li {
        grid-row: 3;
      }

      .thr {
        grid-column: 1;
      }

      .v1 {
        grid-column: 2;
      }

      .v2 {
        grid-column: 3;
      }

      .v3 {
        grid-column: 4;
      }

      .v4 {
        grid-column: 5;
      }

      .v5 {
        grid-column: 6;
      }

      .v6 {
        grid-column: 7;
      }

      .v7 {
        grid-column: 8;
      }

      .v8 {
        grid-column: 9;
      }
    }

    .cus-medi {
      grid-template-rows: repeat(3, min-content);

      .thc {
        grid-row: 1;
      }

      .th2 {
        grid-row: 2;
      }

      .td {
        grid-row: 3;
      }

      .td.r2 {
        grid-row: 4;
      }

      .name {
        grid-column: 1 / 4;
      }

      .einh {
        grid-column: 4;
      }

      .dos {
        grid-column: 5/9;
      }

      .mo {
        grid-column: 5;
      }

      .mi {
        grid-column: 6;
      }

      .ab {
        grid-column: 7;
      }

      .na {
        grid-column: 8;
      }

      .bem {
        grid-column: 9/11;
      }

      .seit {
        grid-column: 11/13;
      }
    }
  }
}



/* Styles nur für Print */
@media print {
  * {
    box-shadow: none !important;
  }

  .printarea {
    padding: 0;
    margin: 0;
  }

  header,
  .infopanel {
    display: none;
  }

  .container1 {
    //    page-break-before: always;
  }

  .accordion-header {
    page-break-after: avoid;
  }


}

@page {
  //  margin: 2cm;
}

@page {
  size: A4;
}


@page: right {
  @bottom-right {
    content: "Page "counter(page) " of "counter(pages);

  }
}

@page: left {
  @bottom-left {
    content: "Page "counter(page) " of "counter(pages);

  }
}

//@page: right {
//  @bottom-left {
//    margin: 10pt 0 30pt 0;
//    border-top: .25pt solid #666;
//    content: "My book";
//    font-size: 9pt;
//    color: #333;
//  }
//}
