@import 'colors';
@import 'mixins';
@import 'mixins-sets';



.luc {
  header.mainheader {
    background-color: $hel-red;
    color: white;
  }

  main {
    background-color: white;
  }
}

/* Fonts */
p,
div,
a,
main {
  @include fontBasic;
}

h1,
h2,
h3,
h4,
h5 {
  @include fontHeaders;
}

.values {
  @include fontFiValues;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}




/* ============================================== Basislayout */
body {
  display: grid;
  grid-template-columns: 30px 430px 1fr;
  grid-template-rows: 60px min-content min-content 1fr;
  grid-template-areas:
    "header header header"
    "nav info title"
    "nav info tabs"
    "nav info main";
  //  height: 100vh;
  //  width: 100vw;
  //  position: fixed;

}

header.mainheader {
  grid-area: header;
  height: 60px;
  display: grid;
  align-items: center;
  padding: 1em;
  background-color: $bgColor;
}

nav.mainnav {
  //  display: none;
  //  grid-area: nav;
  position: fixed;
  left: 0;
  top: 60px;
  height: 100vh;
  background-color: $bgColor;
  z-index: 1000;
}

aside.infopanel {
  grid-area: info;
  padding: 1em;
  background-color: $bgColor;
  border-right: 1px solid $hel-blau1;

}

header.tabs {
  grid-area: tabs;
  display: grid;
  align-content: flex-end;
  background-color: $bgColor;
  border-bottom: 1px solid $hel-blau1;
}

.seitentitel {
  grid-area: title;
  background-color: $bgColor;
  border-right: 1px solid $hel-ocker1;
}

main {
  background-size: cover;
  background-position: center center;

  grid-area: main;
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: min-content max-content;
  grid-template-areas:
    "header header"
    "maincontent actionbar";
}

nav.main-subnav {
  grid-column: 1;
  grid-row: 1;
  position: sticky;
  top: 0;
  z-index: 1000;
}

div.content {
  grid-column: 1;
  grid-row: 2;
}

aside.actionbar {
  grid-column: 2;
  grid-row: 1/3;
  //  margin-top: 3em;
  padding: 1em;
  position: sticky;
  top: 0;
  align-self: flex-start;
}

/* =============================== Allgemeines Styles */
::placeholder {
  color: $fc1-2;
  opacity: 1;
  font-weight: 400;
}

.hidden {
  display: none !important;
  max-height: 0;
}

/*  =============================== Styles für einzelne Bereiche   */
header.mainheader {
  display: flex;
  justify-content: space-between;

  .wobinich {
    font-size: 29px;
    display: flex;

    a:visited,
    a {
      color: white;
    }

    p {
      padding: 0 1em;
      color: white;
    }
  }

  .choseVersion {
    display: flex;
    margin-right: 100px;
  }

  #benutzer {
    min-width: 300px;
  }

  #version {
    min-width: 150px;
  }

  #benutzer,
  #version {
    display: flex;
    position: static;
    padding: 1em;
    border: transparent 1px solid;
    justify-content: space-between;

    &:hover {
      cursor: pointer;
      border: $fc2-1 1px solid;

      .hiddenlist {
        @include boxElevationHigh;
      }
    }

    p,
    i {
      color: white;
      font-size: 16px;
    }

    i {
      margin-left: 2em;

    }

    .hiddenlist {
      background-color: white;
      //      padding: 1em;
      position: absolute;
      border: 1px solid $hel-blau2;
      z-index: 9999;

      li {
        list-style: none;
        padding: 1em;

        &:hover {
          background-color: $hel-blau3;
        }
      }
    }

    .hidden {
      display: none;
      max-height: 0;
      overflow: hidden;
    }
  }

}

/* In LuC-Umgebung normalerweise ein dynmisches Logo damit man sieht, dass es ein MockUp ist. Bei Hover dann das Home anzeigen (nicht bei LuC-Startseite, da soll es auf die Hauptseite gehen)*/
.luc:not(.p-luc) header.mainheader {
  a {
    width: 2em;

    i {
      float: left;
      position: absolute;
      @include transitionFast;
    }


    i.fakehome {
      opacity: 0;
    }

    &:hover {
      i.fakehome {
        opacity: 1;
      }

      i.tohome {
        opacity: 0;
      }
    }
  }
}

.p-luc header.mainheader {
  i.fakehome {
    display: none;
  }
}

nav.mainnav {

  background-color: $hel-ocker3;

  .menu-toggle {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    margin-top: 1em;
  }

  // Steuerung Sichtbarkeit Untermenu
  li.closed + ul.subnav {
    display: none;
  }

  i.open,
  i.closed {
    display: none;
  }

  &.display-full {
    & + .infopanel {
      display: none;
    }

    .menu-toggle {
      padding: 1em 5px;

      i.fa-bars {
        display: none;
      }
    }

    border-right: 1px $hel-ocker1 solid;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);

    ul.topnav {
      margin: 60px 0 0 30px;

      li {

        border: $hel-ocker1 1px solid;

        a {
          display: flex;
          justify-content: space-between;
          font-size: 18px;

          margin-bottom: -1px;
          background-color: white;
          padding: 1em 30px;
          text-decoration: none;
          border-right: white 10px solid;
        }

        &:last-child a {
          margin-bottom: 0;
        }

        &.closed {

          span i.open {
            display: none;
          }

          span i.closed {
            display: inline;
          }

        }

        &.open {
          font-weight: 700;

          span i.open {
            display: inline;
          }

          span i.closed {
            display: none;
          }
        }


        &:hover a {
          cursor: pointer;
          border-right: $hel-ocker1 10px solid;
        }

        &:hover.blau a {
          border-right: $hel-blau1 10px solid;
        }

        &:hover.gruen a {
          border-right: $hel-gruen1 10px solid;
        }

        &:hover.rot a {
          border-right: $hel-rot1 10px solid;
        }

        &:hover.gelb a {
          border-right: $hel-gelb1 10px solid;
        }


        span {
          //          flex: 0 0 auto;
          //          display: inline-block;
          width: 350px;
          display: flex;

          i {
            flex: 0 0 30px;
          }
        }
      }
    }

    ul.subnav {
      margin: 0;

      li a span {
        padding-left: 30px;
      }
    }


  }

  &.display-small {
    &:hover {
      i {
        color: $fc1 !important;
      }
    }

    .menu-toggle {
      padding: 1em 5px;

      .fa-angle-left {
        display: none;
      }
    }

    a {
      padding: 1em 5px;
    }

    ul.topnav {
      margin: 60px 0 0 0;

      li {
        list-style: none;
        display: flex;
        justify-content: space-between;
        font-size: 18px;

        a {
          text-decoration: none;
          width: 100%;
          text-align: center;
        }

        span {
          display: none;
        }

        i {
          color: $hel-ocker2;
          @include transitionFast;

          &.open,
          &.closed {
            display: none;
          }
        }

        &:hover {
          background-color: $hel-ocker1;
        }

        &:hover.blau {
          background-color: $hel-blau1;
        }

        &:hover.gruen {
          background-color: $hel-gruen1;
        }

        &:hover.rot {
          background-color: $hel-rot1;
        }

        &:hover.gelb {
          background-color: $hel-gelb1;
        }

        &.hasChildren.closed:hover {
          i.closed {
            display: inline;
          }

          i.icon {
            display: none;
          }
        }

        &.hasChildren.open:hover {
          i.open {
            display: inline;
          }

          i.icon {
            display: none;
          }
        }
      }
    }
  }
}

header.tabs {
  nav.tabs {
    ul {
      display: flex;
    }

    li {
      a {
        text-decoration: none;
        display: block;
        padding: 0.25em 2em;
        border-bottom: 4px solid transparent;
        color: $fc1-1;

        &:visited {
          color: $fc1-1;
        }

        &.active {
          border-bottom-color: $hel-blau2;
          font-weight: 700;
          color: $fc1;
        }
      }
    }
  }
}

.seitentitel {
  padding-bottom: 0.5em;
  padding-left: 2em;

  h1 {
    font-size: 24px;
    font-weight: 400;
    padding: 1.5em 0 1em 0;
    color: $hel-blau1;
  }
}

main {
  background-color: $bgColor;
  // used for offsetParent (smooth scrolling)
  position: relative;

  .content {
    padding: 1em 0 10em 1em;
  }
}

nav.main-subnav {
  display: flex;
  justify-content: space-between;

  background-color: $hel-blau2;
  border-bottom: 25px solid white;
  //  

  ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 30px;

    padding-left: 1em;
    margin-right: 1em;
  }

  li {
    padding: 0 1em;

    a {
      text-decoration: none;
      color: $hel-blau9;

      &:hover {
        color: $fc2;
      }
    }
  }

  ul.display {
    li {
      padding: 0.5em;

      i {
        color: $hel-blau9;
        cursor: pointer;

        &:hover {
          color: $fc2;
        }

      }
    }
  }
}

.maincontent {
  grid-area: maincontent;
  padding: 1.5em 0 1em 2em;
}

aside.actionbar {
  li {
    cursor: pointer;
    list-style: none;
    font-size: 32px;
    padding: 0.5em 1em;

    a {
      font-size: 32px;
      text-decoration: none;
      display: block;
    }

    i {
      @include transitionFast;

      &.modus {
        &.read-modus {
          color: $fc1-1;
          transform: rotate(45deg);
        }

        &.edit-modus {
          color: $hel-orange1;
          transform: rotate(0deg);
        }
      }

      &.save {
        color: $fc1-2;

        &.tosave {
          color: $fc1;
        }
      }

      &.help {
        color: $fc1-1;

        &.help-on {
          color: $hel-blau1;
        }
      }
    }
  }
}


/* ================= Steuerung Anzeige nach Rechten */
body:not(.role-arzt) .nurarzt {
  display: none !important;
}

body:not(.role-qm-arzt) .nurqmarzt {
  display: none !important;
}

body.role-qm-arzt .nichtqmarzt {
  display: none !important;
}

/* ======= Layout & Steuerung Accordion (open/closed) */
.accordion {
  &:not(.open) {
    .accordion-body {
      overflow: hidden;
      padding-top: 0;
      padding-bottom: 0;
      max-height: 0;
      opacity: 0;
      padding: 0 0;
      @include transitionFast;
      margin-right: 1px;
    }

    .actions {
      .compress {
        display: none;
      }
    }
  }

  &.edit-modus {
    > .accordion-header {
      cursor: pointer;

      .hidden {
        display: none;
      }

      .modus i {
        transform: rotate(0deg);
        @include transitionFast;
      }

      .markervalue {
        display: none;
      }
    }

    > .accordion-body {
      > .feedbackitem {
        margin-bottom: 0.5em;

        > div {
          .value {

            &.edit {
              display: grid;
            }

            &.read {
              display: none;

              // Einträge mit Schreibschutz (aus bereits abgeschlossenen Aufträgen) im Readmodus anzeigen --> z.B. AUF (Arbeitsunfähigkeit)
              &.protected {
                display: grid;
              }
            }
          }
        }
      }
    }
  }

  &.read-modus {
    > .accordion-header {
      .modus i {
        transform: rotate(45deg);
      }
    }

    > .accordion-body {
      > .feedbackitem {
        > div {
          .value {
            &.edit {
              display: none;
            }

            &.read {
              display: grid;
            }
          }
        }
      }
    }
  }
}

/* =============== Accordion und Container Styles */
.accordion {
  .accordion-header {
    cursor: pointer;
    display: grid;
    grid-template-columns: 80px minmax(2em, 19%) minmax(2em, 19%) 1fr min-content;

    div {
      grid-row: 1;
      padding: 0.75em;
    }

    .posNum {
      grid-column: 1;
      text-align: right;
    }

    .pospilot {
      grid-column: 1;
      text-align: left;
      display: none;

      &:hover {
        cursor: grab;
      }
    }

    .pos1 {
      grid-column: 2 / 4;
    }

    .pos1.ellipsis {
      grid-column: 2 / 3;
      white-space: nowrap;
      overflow: hidden;
      width: 100%;
      text-overflow: ellipsis
    }

    .pos2 {
      grid-column: 3 / 4;
    }

    .pos3 {
      grid-column: 4 / 5;
    }

    .actions {
      grid-column: 5;
      grid-row: 1;
      justify-content: flex-end;
      align-items: center;
      padding: 0 0.5em;
      display: none;


      li {
        padding: 0 0.5em;
        list-style: none;
        height: 100%;
        display: flex;
        cursor: pointer;

        i {
          align-self: center;
        }
      }
    }
  }
}

.container1 {
  margin: 0.5em 0 1em 0.5em;

  &:hover {
    > .accordion-header {

      .actions,
      .pospilot {
        display: flex;
      }
    }
  }

  &:not(.open) {
    .toggle i {
      @include rotate0;
    }
  }

  &.open {
    .toggle i {
      @include rotate45;
    }

    > .accordion-body {
      max-height: 5000px;
      opacity: 1;
    }
  }

  > .accordion-header {
    background-color: $hel-blau1;
    //    @include borderLight($hel-blau1);
    position: sticky;
    top: 50px;
    z-index: 500;

    div {
      font-size: 16px;
      font-weight: 700;
      color: $fc2;
    }

    .actions {
      i {
        color: $fc2;
      }
    }
  }

  > .accordion-body {
    padding-top: 1em;
  }
}

.container2 {
  border-radius: 3px;
  z-index: 99;
  background: #fff;
  margin-bottom: 0.5em;

  @include borderLight;

  &:hover {
    @include borderLight;
    @include boxShadowLow;
    @include transitionFast;

    > .accordion-header {
      background-color: $hel-blau3;

      .actions {
        display: flex;
      }

      .pospilot {
        display: inline-block;
      }

      i {
        color: $fc1-1;
      }
    }
  }

  &:not(.open) {
    .toggle i {
      @include rotate0;
    }
  }

  &.open {
    .toggle i {
      @include rotate45;
    }

    > .accordion-body {
      opacity: 1;
      max-height: 1500px;
      margin: 1em 0.25em;
      padding-top: 0em;
    }
  }

  &.edit-modus {
    .actions .modus i {
      color: $fc1;
    }
  }

  .accordion-header {
    div.pos1 {
      //      padding-left: 2em;
      font-size: 16px;
      font-weight: 700;
      color: $fc1;
    }
  }

  .accordion-body {
    padding: 1em 1em 2em 0;
  }
}

.container3 {
  z-index: 50;
  padding: 1em;

  &:hover {
    .accordion-header {
      background-color: $hel-blau3;
    }

    .actions {
      display: flex;
    }
  }

  .accordion-header {
    padding: 0.5em 0;

    div.pos1 {
      font-size: 14px;
      font-weight: 700;
      color: $fc1;

      &:first-child {
        padding-left: 1em;
      }
    }
  }
}

/* =============== Feedbackitems */

.feedbackitem {
  @include transitionSlow;
  max-height: 500px;
  opacity: 1;

  &.fi-hidden {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    @include transitionSlow;
    padding: 0;
    margin: 0;
  }

  &.novalue {
    .value.read {
      display: none !important;

      p {
        font-style: italic;
      }
    }
  }

  div.maingrid {
    display: grid;
    grid-gap: 0 16px;
    grid-template-columns: minmax(250px, 25%) 1fr;
    grid-template-rows: min-content min-content;
    grid-auto-rows: min-content;
  }

  .infos {
    grid-column: 2 / 3;
    grid-row: 1;

    div + div {
      margin-top: 0.5em;
      @include transitionSlow;
    }

    .hint {
      @include hintStyles;
    }

    .help {
      @include helpStyles;
    }

    .hidden {
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      @include transitionSlow;
    }

    div:not(.hidden) {
      max-height: 200px;
      opacity: 1;
      @include transitionSlow;
    }
  }

  label.label {
    grid-column: 1;
    grid-row: 2;
    align-self: flex-start;
    justify-self: right;
    text-align: right;

    @include fontFiLabels;
  }

  .values {
    grid-column: 2;
    grid-row: 2;
    place-self: center stretch;
  }

  .listvalues {
    grid-column: 2;
    background-color: white;
  }

  .button {
    grid-column: 9 / 13;
  }

  .subButton {
    grid-column: 11 / 13;
    text-align: right;
    font-size: 12px;
    margin-top: 0.5em;
    margin-bottom: 1em;
    max-width: 200px;
    float: right;


    &:hover {
      background-color: $hel-blau3;
    }

    a {
      display: inline-block;
      padding-right: 0.5em;
      height: 100%;
      width: 100%;
    }
  }

  /* ======================    Styles pro Item-Type --> Values*/
  .values {
    @include fontFiValues;

    .info {
      font-style: italic;
      color: $fc1-2;
      color: chartreuse;
    }

    .subtitle {
      padding-top: 0.85em; // gleich wie Label
      border-bottom: 1px solid $fc1-2;
      color: chartreuse;
    }
  }

  /* ====================== Styles für alle Value-Items */
  .value {
    width: 100%;

    display: grid;
    //    grid-template-columns: repeat(12, calc(8.333% - 4.5833px));
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 8px 5px;

    .pos1 {
      max-width: 45em;
    }

    &.edit {
      background-color: white;

      div:not(.radiogroup) {
        margin: 0 3px 3px 0;
      }

      div.radiogroup div {
        display: flex;
        align-content: stretch;

      }

      div.th {
        padding: 0;
        margin: 0;
      }

      div.td.readonly {
        background-color: $hel-blau3;
        padding-left: 0.5em;
      }

      input {
        //        padding: 0.25em 0 0.25em 0.5em;
        padding-left: 0.5em;
        margin: 0 3px 3px 0;
        background-color: white;
      }
    }


    &.read {
      background-color: white;

      .td {
        background-color: $hel-blau3;
        padding-left: 0.5em;
      }
    }

    .th.sub {
      // waagrechte Spaltenüberschrift (klein)
      @include fontFiValuesTabTitelsSub;
    }

    .icon {
      cursor: pointer;
    }

    input,
    label,
    .textarea {
      @include fontFiValues;
      @include borderLight;
      width: 100%; // ganz wichtig sonst werden die Grids bei veilen Inputs zu breit!?
    }

    .textarea {
      min-height: 5em;
      max-width: 45em;
      padding: 0 0.5em;
    }


    p,
    .pos1 {
      grid-column: 1 / 13;
      grid-row: 1;
    }

    .pos1 {
      font-weight: 700;
    }

    .pos2 {
      grid-column: 2 / 13;
      grid-row: 1;
    }

    .pos3 {
      grid-column: 3 / 13;
      grid-row: 1;
    }

    .pos4 {
      grid-column: 4 / 13;
      grid-row: 1;
    }

    .pos5 {
      grid-column: 5 / 13;
      grid-row: 1;
    }

    .pos6 {
      grid-column: 6 / 13;
      grid-row: 1;
    }

    .pos7 {
      grid-column: 7 / 13;
      grid-row: 1;
    }

    .pos8 {
      grid-column: 8 / 13;
      grid-row: 1;
    }

    .pos9 {
      grid-column: 9 / 13;
      grid-row: 1;
    }

    .pos10 {
      grid-column: 10 / 13;
      grid-row: 1;
    }

    .pos11 {
      grid-column: 11 / 13;
      grid-row: 1;
    }

    .pos12 {
      grid-column: 12 / 13;
      grid-row: 1;

      &.icon {
        text-align: right;

        &.delete {
          color: $fc1;
        }

        i {
          width: 2em;
          text-align: center;

          &:hover {
            color: $color-toast-error;
          }
        }
      }
    }
  }


  .multirows {

    grid-column: 1 / 13;

    &.hidden {
      max-height: 0;
      overflow: hidden;
      @include transitionFast;
    }

    &.visible {
      max-height: 1000px;
      @include transitionFast;
    }

    .multirow {
      display: flex;
      margin-bottom: 1em;

      .label,
      label {
        flex: 0 1 30%;
      }
    }
  }

  .check_von_bis,
  .custom_vminfo {
    input[type=""] {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    i {
      color: $fc1-2;
    }


    .checkmark:hover {
      color: $hel-orange1 !important;
      cursor: pointer;
    }
  }

  .check_von_bis {
    input[type="date"] {
      width: auto;
      margin-left: 1em;
    }

    .date.hidden {
      opacity: 0;
      @include transitionFast;
    }

    .date.visible {
      opacity: 1;
      @include transitionFast;
    }

    .von {
      grid-column: 2/6;
    }

    .bis {
      grid-column: 6/10;
    }
  }

  .cus-auf,
  .custom_auf {
    .value.new {
      //      margin: 0;
      //      padding: 0;
      cursor: default;
      margin: 5px -5px;
      padding: 0px;
    }

    .tablevalues > .value {
      margin: 5px -5px;
      padding: 0px;
      cursor: grab;
      @include borderLight(white);
      background-color: white;
      z-index: 100;
    }

    .tablevalues > .value:hover {
      @include boxElevationLow();
      background-color: $hel-blau2;
      z-index: 1000;
      @include borderLight;

      > div {
        background-color: $hel-blau2;
      }
    }


    .beginn {
      grid-column: 1 / 3;
    }

    .ende {
      grid-column: 3/ 5;
    }

    .grad {
      grid-column: 5 / 7;
    }

    .verlauf {
      grid-column: 7 / 13;

      i {
        float: right;
        padding: 0.2em 0.5em 0 0;
      }
    }
  }

  .cus-bld,
  .custom_blutdruck {

    @include borderForCustomElements;
    @include checkfields($hel-blau1);

    .zeit {
      grid-column: 1 / 3;
    }

    .druck {
      grid-column: 3/ 5;
    }

    .kommentar {
      grid-column: 5/13;

      i {
        float: right;
        padding: 0.2em 0.5em 0 0;
      }
    }

    .methode {
      grid-column: 5/8;
    }

    .lage {
      grid-column: 8/11;
    }

    .seite {
      grid-column: 11/13;
    }

    .protected {
      grid-column: 1/13;
    }
  }

  .cus-bmi,
  .custom_bmi {
    @include borderForCustomElements;

    .bmi {
      grid-column: 1 / 3;
    }

    .td.bmi {
      font-weight: 700;
    }

    .groesse {
      grid-column: 3 / 5;
    }

    .gewicht {
      grid-column: 5 / 7;
    }

    .bemerkung {
      grid-column: 7 / 13;
    }

  }

  .cus-anomaloskop,
  .custom_farbsinn {
    @include borderForCustomElements;
    //    grid-row: repeat(4, min-content);

    .main {
      grid-row: 1;
    }

    .th.main.senkrecht {
      grid-column: span 3;
    }


    .r15 {
      grid-row: 2;
    }

    .r13 {
      grid-row: 3;
    }

    .r12 {
      grid-row: 4;
    }

    .senkrecht {
      grid-column: 1;
    }

    .v1 {
      grid-column: 2;
    }

    .v2 {
      grid-column: 3;
    }

    .v3 {
      grid-column: 4;
    }

    .v4 {
      grid-column: 5;
    }

    .v5 {
      grid-column: 6 / 8;
    }

    .v6 {
      grid-column: 8 / 10;
    }
  }

  .cus-audio,
  .custom_audio {
    @include borderForCustomElements;
    @include checkfields($hel-blau1);

    .main {
      grid-row: 1;
    }

    .re {
      grid-row: 2;
    }

    .li {
      grid-row: 3;
    }

    .th r {
      grid-column: 1;
    }

    .v1 {
      grid-column: 2;
    }

    .v2 {
      grid-column: 3;
    }

    .v3 {
      grid-column: 4;
    }

    .v4 {
      grid-column: 5;
    }

    .v5 {
      grid-column: 6;
    }

    .v6 {
      grid-column: 7;
    }

    .v7 {
      grid-column: 8;
    }

    .v8 {
      grid-column: 9;
    }
  }

  .cus-ergmessung,
  .custom_emessung {
    //    @include borderForCustomElements;

    .methode {
      grid-column: 1/6;
    }

    .resultat {
      grid-column: 6/13;
    }
  }

  .cus-korrektur {
    @include borderForCustomElements;

    .value {
      .thr {
        grid-column: 1;
      }

      .re {
        grid-column: 2/4;
      }

      .li {
        grid-column: 4/6;
      }

      .thc {
        grid-row: 1;
      }

      .sph {
        grid-row: 2;
      }

      .cyl {
        grid-row: 3;
      }

      .add {
        grid-row: 4;
      }
    }
  }

  .cus-medi {
    grid-template-rows: repeat(3, min-content);
    @include borderForCustomElements;

    .main {
      grid-row: 1;
    }

    .sub {
      grid-row: 2;
    }

    .td {
      grid-row: 3;
    }

    .td.r2 {
      grid-row: 4;
    }

    .name {
      grid-column: 1 / 4;
    }

    .einh {
      grid-column: 4;
    }

    .dos {
      grid-column: 5/9;
    }

    .mo {
      grid-column: 5;
    }

    .mi {
      grid-column: 6;
    }

    .ab {
      grid-column: 7;
    }

    .na {
      grid-column: 8;
    }

    .bem {
      grid-column: 9/11;
    }

    .seit {
      grid-column: 11/13;
    }
  }

  .cus-qm {
    .hidden {
      // Sonderfall, hier wird das Ergebnis des Modals verborgen/angezeigt
      display: none !important;
    }
  }

  .cus-visus,
  .cus-visuskor,
  .custom_visus {

    @include borderForCustomElements;

    .th.main {
      grid-row: 1;
    }

    .th.sub {
      grid-row: 2;
    }

    .th.senkrecht {
      grid-column: 1;
    }

    .ferne {
      grid-column: 2 / 6;
    }

    .rechts {
      grid-column: 2 / 4;
    }

    .links {
      grid-column: 4 / 6;
    }

    .naehe {
      grid-column: 7 / 9;
    }

    .binoc {
      grid-column: 7 / 9;
    }

    .landolt {
      grid-row: 3;
    }

    .e {
      grid-row: 4;
    }
  }

  .custom_vminfo {

    // einzelne Felder anhand der Source_id ausblenden ?!
    &#FI_DOCIV {

      .uvgcasenumber,
      .decision {
        display: none;
      }
    }

    &#FI_DOCUVG {
      .decree {
        display: none;
      }
    }

    &#FI_DOCHP {

      .uvgcasenumber,
      .decree {
        display: none;
      }
    }
  }

  .datum {
    input {
      grid-column: 1/7;
    }
  }

  .fitext,
  .text_singleline {
    input {
      grid-column: 1 / 13;
    }
  }

  .fidatum {
    input {
      @include borderLight;
      grid-column: 1/13;
    }
  }

  .fimitarbeiter {
    grid-column: 1/13;

    select {
      @include borderLight;
    }
  }

  .firadio,
  .cus-entscheid,
  .cus-icd {
    @include checkfields($hel-blau1);

    .radioitem {
      grid-column: span 2;
    }
  }

  .firadiobem {
    @include checkfields($hel-blau1);

    .value label {
      grid-column: span 2;
    }

    input.bemerkung {
      &.cstart5 {
        grid-column: 5 / 13;
      }

      &.cstart7 {
        grid-column: 7 / 13;
      }

      &.cstart9 {
        grid-column: 9 / 13;
      }

      &.cstart11 {
        grid-column: 11 / 13;
      }

    }
  }

  .fitextarea,
  .text_multiline {
    .textarea {
      grid-column: 1 / 13;
    }
  }

  .fizahltext {
    input.value {
      grid-column: 1 /3;
    }

    input.bemerkung {
      grid-column: 3 / 13;
    }
  }

  .ja_nein_bemerkung {
    .radio {
      cursor: pointer;
    }

    .no {
      grid-column: 1/3;
    }

    .yes {
      grid-column: 3/5;
    }

    .bemerkung {
      grid-column: 5/13;
    }

    .selected {
      background-color: $hel-blau1;
      @include borderLight;
      color: white;
      @include transitionFast;
    }
  }

  select {
    grid-column: 1/7;
    padding: 0.5em;
    font-size: 16px;
  }

}

/* ===================================================== Animationen */
.slide-in-bottom {
  -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s both;
  animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s both;
}

.fade-out {
  -webkit-animation: fade-out 3s ease-out 0s both;
  animation: fade-out 3s ease-out 0s both;
}

/* ========================== Spezielle Styles */
.toast {
  position: absolute;
  bottom: 2em;
  left: 2em;
  padding: 1.5em 2em 2em;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 6px;
  border: 1px solid darken($color-toast-success, 25%);

  h1 {
    font-size: 1.2em;
    line-height: 1.5;
    //    margin-bottom: 2em;
  }

  &.hidden {
    display: none;
  }

  &.success {
    background-color: $color-toast-success;
  }

  &.warn {
    background-color: $color-toast-warn;
  }

  &.error {
    background-color: $color-toast-error;
  }

}

.button {
  display: block;
  padding: 0.5em 1em;
  cursor: pointer;
  text-align: center;

  &.highemphasis {
    background-color: $hel-orange1;
    color: white;
    font-weight: 700;
    @include boxElevationLow($hel-orange1);


  }

  &.mediumemphasis {
    background-color: $hel-orange2;
    color: $fc1;
    font-weight: 700;
    @include boxElevationLow($hel-orange1);

  }

  &.lowemphasis {
    background-color: none;
    color: $fc1;
    font-weight: 700;
    @include boxElevationLow($hel-orange1);
  }
}

.template {
  display: none !important;
}

.markervalue {
  @include fontFiMarkerValue;
}

.modal {
  &.hidden {
    opacity: 0;
    display: none;
    @include transitionFast;
  }

  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;

  display: grid;



  &.small {
    grid-template-columns: 1fr minmax(max-content, 30vw) 1fr;
    grid-template-rows: 1fr minmax(150px, max-content) 2fr;
    grid-template-areas: ". . . "". content ."". . .";
  }

  &.medium {
    grid-template-columns: 1fr minmax(max-content, 30vw) 1fr;
    grid-template-rows: 1fr minmax(300px, max-content) 2fr;
    grid-template-areas: ". . . "". content ."". . .";

    @include boxElevationHigh;
  }

  &.large {
    grid-template-columns: 1fr minmax(max-content, 50vw) 1fr;
    grid-template-rows: 1fr minmax(500px, max-content) 2fr;
    grid-template-areas: ". . . "". content ."". . .";
  }

  .window {
    grid-area: content;
    background-color: white;
    @include borderMedium($fc1);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    div {
      padding: 16px 24px;
    }

    .header {
      background-color: $hel-orange2;
      font-size: 22px;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;

      h1 {
        color: $fc1;
        font-weight: 400;
      }
    }

    .message {
      align-items: flex-start;
      font-size: 20px;
      line-height: 1.5;

      ul {
        margin-top: 2em;
      }

      li {
        text-align: left;
        display: block;
        //        @include borderLight($hel-orange1);
        margin-bottom: 1em;

        @include boxElevationLow($hel-orange1);
        @include hoverColorChange($hel-orange1);
      }

      em {
        font-style: normal;
        font-weight: 700;
      }
    }

    .action ul {
      display: grid;
      grid-template-columns: 30% 30% 30%;
      grid-gap: 10px;

      .button {
        min-width: 200px;
        text-align: center;
      }

      .abort {
        grid-column: 1;
      }

      .secondaction {
        grid-column: 2;
      }

      .mainaction {
        grid-column: 3;
      }
    }
  }
}

.cards {
  margin-top: 30px;
  max-width: 80%;
  display: grid;
  grid-gap: 32px 16px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));

  .card {
    padding: 1em;
    display: flex;
    justify-content: flex-start;

    @include boxElevationLow;

    .logo {
      flex: 1 1 120px;
      //      text-align: left;
      padding: 32px 0 0 20px;

      i {
        font-size: 72px;
        color: $hel-blau1;
      }
    }

    > .content {
      padding: 1em;
      flex: 3 1 280px;

      h1 {
        padding-left: 20px;
      }

      li {
        list-style: none;
        padding: 0.5em 20px;
      }

      li:hover {
        background-color: $hel-blau3;
        cursor: pointer;
      }
    }

    h1 {
      @include mainH1($hel-blau1);
    }
  }
}

.dontprint,
.dontprint .accordion {
  background-color: grey;
  background-image: repeating-linear-gradient(-45deg,
    white 0%,
    white 2%,
    $bgSchraffur 2%,
    $bgSchraffur 4%,
    white 4%);
  outline: 5px solid $bgSchraffur;

  .accordion-header {
    background-color: $bgSchraffurHeader;
  }
}

.diagnose-ui-state-highlight {
  //  width: 100%;
  height: 2em;
  font-size: 1em;
  padding: 0.75em;
  margin: 1em -0.5em;
  background-color: aquamarine;
}

/* ========================== Speziell für Monitore */
@media screen {

  .printonly {
    display: none !important;
  }

  main {
    overflow-y: scroll;
  }

  body {
    height: 100vh;
    width: 100vw;
    position: fixed;
  }

  .reqfield:before {
    content: "*";
    color: $color-toast-error;
  }

  .hastooltipp {
    position: relative;
    display: inline-block;
    @include toolTippIndicator;

    &:hover .tooltipptext {
      visibility: visible;
      opacity: 1;
    }
  }

  .tooltipptext {
    visibility: hidden;
    position: absolute;
    z-index: 100;
    right: 0;
    top: 40px;

    opacity: 0;
    transition: opacity 0.3s;

    &.help {
      @include toolTippHelp();

      &::after {
        right: 10%;
        content: "";
        position: absolute;
        top: 0;
        /* left: 10%; */
        margin-top: -10px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent $bgTooltipp transparent;
      }
    }
  }
}

/* ========================== Ausdrucken */
@media print {

  //@media print {
  @page {
    size: A4;
    margin-top: 2cm;
    margin-left: 1.5cm;
    margin-right: 1cm;
    margin-bottom: 2cm;
  }


  header.mainheader,
  header.tabs,
  nav,
  aside,
  .toast,
  .actions,
  .dontprint,
  .seitentitel,
  .tooltipptext {
    display: none !important;
  }

  body {
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content max-content;
    grid-template-areas: "printheader""title""main";
  }

  .fixedheader {
    display: none;
    position: fixed;
    top: 0;
    height: 50px;
    padding: 1cm 2cm;

    z-index: 20000;

  }

  .printheader {
    grid-area: printheader;
    margin-left: 2cm;
    padding: 1em;
    //    display: flex;

    .logo {
      text-align: right;
    }

    .printmain {
      ul {
        margin-top: 1em;
      }

      li {
        display: grid;
        grid-gap: 0 16px;
        grid-template-columns: 200px 1fr;
        grid-auto-rows: min-content;

        .label {
          grid-column: 1;
          text-align: right;
        }

        .values {
          grid-column: 2;
        }
      }
    }
  }

  .main {}

  .accordion-header {
    page-break-after: avoid;
  }

  .container1 {
    page-break-before: always;
  }

  .container2 {
    page-break-inside: avoid;

    &:hover {
      box-shadow: none;
    }
  }

  .feedbackitem {
    //    page-break-inside: avoid;
    margin-bottom: 1em;

    div.maingrid {
      display: grid;
      grid-gap: 0 16px;
      grid-template-columns: 200px 1fr;
      grid-template-rows: min-content min-content;
      grid-auto-rows: min-content;
    }
  }
}


/* ========================== Icons nur im read-Modus ausblenden */
.read-modus .cus-auf i {
  display: none;
}

.edit-modus .cus-auf i {
  display: block;
}

/* ==========================  Änderungen nach Variante */

// Variante 1 - im Readmodus Items ohne Wert ausblenden
.variante1 .read-modus .feedbackitem.novalue {
  display: none !important;
}

.variante2 {
  .container2 {}
}

.p-css-gridtest {
  .container1 {
    > .header {
      background-color: salmon;
      padding: 1em;
      position: sticky;
      top: 0;
    }
  }

  .container2 {
    > .header {
      background-color: paleturquoise;
      padding: 1em;
      position: sticky;
      top: 50px;
    }
  }

  .body {

    height: 80vh;
    background-color: darkturquoise;


    display: grid;
    //  grid-template-columns: repeat(12, calc(8.333% - 9.1667px));
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 10px;
    margin: 2em;
    padding: 1em 0;

    > div {
      background-color: sandybrown;
      //    margin: 1em;
      padding: 1em;
      border: 1px solid brown;
      justify-items: stretch;
    }
  }

}

.debug {
  outline: 5px solid red;
  background-color: aqua;
}

/* ----------------------------------------------
 * Generated by Animista on 2018-11-28 11:16:12
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2018-11-28 11:22:26
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-out
 * ----------------------------------------
 */
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
