/* Colors */
/* line 11, C:/xampp/htdocs/prototypes/assets/scss/home.scss */
* {
  font-family: 'Roboto', sans-serif;
}

/* line 15, C:/xampp/htdocs/prototypes/assets/scss/home.scss */
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

/* line 22, C:/xampp/htdocs/prototypes/assets/scss/home.scss */
h1 {
  font-family: 'Anton', sans-serif;
}

/* line 26, C:/xampp/htdocs/prototypes/assets/scss/home.scss */
h1 {
  font-size: 48px;
}

/* line 30, C:/xampp/htdocs/prototypes/assets/scss/home.scss */
body {
  display: grid;
  grid-template-columns: minmax(min-content, 100vh) minmax(33vw 1fr);
  height: 100vh;
  overflow-y: scroll;
}

/* line 38, C:/xampp/htdocs/prototypes/assets/scss/home.scss */
main {
  grid-column: 1;
  grid-row: 1;
  background-color: #1a6f7b;
  color: white;
  padding: 5vh 5vw 2vh 5vw;
  display: grid;
  grid-template-rows: min-content min-content min-content 1fr min-content;
  grid-template-columns: 1fr min-content;
  grid-template-areas: "big big" ". icon" "titel ." "content content" "list list";
}

/* line 59, C:/xampp/htdocs/prototypes/assets/scss/home.scss */
main a {
  color: white;
  text-decoration: none;
}

/* line 64, C:/xampp/htdocs/prototypes/assets/scss/home.scss */
main .seitentitel {
  grid-area: big;
  font-size: calc(10vw + 20px);
}

/* line 70, C:/xampp/htdocs/prototypes/assets/scss/home.scss */
main .icon {
  grid-area: icon;
  text-align: right;
  font-size: calc(10vw + 20px);
  padding-right: 2vw;
  padding-bottom: 2vh;
}

/* line 78, C:/xampp/htdocs/prototypes/assets/scss/home.scss */
main .content {
  grid-area: content;
  font-size: 20px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.8);
}

/* line 87, C:/xampp/htdocs/prototypes/assets/scss/home.scss */
main .content a {
  color: #CAB790;
}

/* line 91, C:/xampp/htdocs/prototypes/assets/scss/home.scss */
main .content h1 {
  white-space: nowrap;
  color: white;
}

/* line 97, C:/xampp/htdocs/prototypes/assets/scss/home.scss */
main .list {
  grid-area: list;
  align-self: start;
  margin-top: 1em;
}

/* line 106, C:/xampp/htdocs/prototypes/assets/scss/home.scss */
main .list ul {
  display: flex;
}

/* line 110, C:/xampp/htdocs/prototypes/assets/scss/home.scss */
main .list li {
  list-style: none;
  display: grid;
  grid-gap: 0 16px;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "icon kommentar" "icon datum";
  margin: 16px 16px 0 0;
  color: rgba(255, 255, 255, 0.8);
}

/* line 120, C:/xampp/htdocs/prototypes/assets/scss/home.scss */
main .list li i {
  grid-area: icon;
  font-size: 2em;
  color: white;
}

/* line 128, C:/xampp/htdocs/prototypes/assets/scss/home.scss */
main .list li .datum {
  grid-area: datum;
}

/* line 133, C:/xampp/htdocs/prototypes/assets/scss/home.scss */
main .list li .kommentar {
  grid-area: kommentar;
  color: white;
}

/* line 140, C:/xampp/htdocs/prototypes/assets/scss/home.scss */
main .credits {
  grid-area: credits;
  color: rgba(255, 255, 255, 0.5);
}

/* line 144, C:/xampp/htdocs/prototypes/assets/scss/home.scss */
main .credits a {
  color: #CAB790;
}

/* line 150, C:/xampp/htdocs/prototypes/assets/scss/home.scss */
.right {
  grid-column: 2;
  grid-row: 1;
  padding: 5vw;
  padding-bottom: 2vh;
  display: grid;
  grid-template-rows: 1fr min-content;
}

/* line 159, C:/xampp/htdocs/prototypes/assets/scss/home.scss */
.right nav.startseite {
  grid-row: 1;
}

/* line 163, C:/xampp/htdocs/prototypes/assets/scss/home.scss */
.right div.credits {
  grid-row: 2;
}

/* line 167, C:/xampp/htdocs/prototypes/assets/scss/home.scss */
.right .accordion {
  background-color: #CAB790;
  cursor: pointer;
  border-radius: 5px;
}

/* line 172, C:/xampp/htdocs/prototypes/assets/scss/home.scss */
.right .accordion .accordion-header {
  color: white;
  font-size: calc(5vw + 20px);
  padding: 5px 30px 2px 15px;
  margin-bottom: 3px;
}

/* line 178, C:/xampp/htdocs/prototypes/assets/scss/home.scss */
.right .accordion .accordion-header i {
  float: right;
}

/* line 183, C:/xampp/htdocs/prototypes/assets/scss/home.scss */
.right .accordion:hover {
  background-color: #CAB790;
  cursor: pointer;
}

/* line 187, C:/xampp/htdocs/prototypes/assets/scss/home.scss */
.right .accordion:hover .accordion-header {
  color: white;
}

/* line 192, C:/xampp/htdocs/prototypes/assets/scss/home.scss */
.right .accordion.closed {
  background-color: white;
}

/* line 195, C:/xampp/htdocs/prototypes/assets/scss/home.scss */
.right .accordion.closed .accordion-header {
  color: #CAB790;
}

/* line 201, C:/xampp/htdocs/prototypes/assets/scss/home.scss */
.right ul {
  padding: 30px 10px 60px 8px;
}

/* line 204, C:/xampp/htdocs/prototypes/assets/scss/home.scss */
.right ul li {
  font-size: 20px;
  display: block;
}

/* line 208, C:/xampp/htdocs/prototypes/assets/scss/home.scss */
.right ul li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 0.5em 7px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

/* line 217, C:/xampp/htdocs/prototypes/assets/scss/home.scss */
.right ul li a span {
  font-weight: 700;
}

/* line 221, C:/xampp/htdocs/prototypes/assets/scss/home.scss */
.right ul li a:hover {
  background-color: white;
  color: rgba(0, 0, 0, 0.8);
}

/* Sichtbarkeit steuern */
/* line 233, C:/xampp/htdocs/prototypes/assets/scss/home.scss */
nav.startseite .accordion:not(.closed) > h1 > i {
  transform: rotate(0deg);
}

/* line 238, C:/xampp/htdocs/prototypes/assets/scss/home.scss */
nav.startseite .accordion:not(.closed) .accordion-body li {
  max-height: 1000px;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

/* line 246, C:/xampp/htdocs/prototypes/assets/scss/home.scss */
nav.startseite .accordion.closed > h1 > i {
  transform: rotate(90deg);
}

/* line 251, C:/xampp/htdocs/prototypes/assets/scss/home.scss */
nav.startseite .accordion.closed .accordion-body li {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

/*# sourceMappingURL=../css/home.map */