@charset "UTF-8";
/* Fonts */
/*     Feedbackitems */
/* Colors */
/* Colors for Ranges */
/* Font Colors */
/* Fonts */
/* line 8, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
* {
  font-family: 'Roboto', sans-serif;
}

/* Styles für alles */
/* line 13, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
body {
  display: grid;
  grid-template-columns: 1fr 1000px 1fr;
  grid-template-rows: 60px 1fr;
  background-color: #F4F1E9;
}

/* line 19, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
body li {
  list-style: none;
}

/* line 24, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
header {
  grid-column: 1/4;
  grid-row: 1;
}

/* line 28, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
header .wobinich {
  display: flex;
}

/* line 33, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.infopanel {
  grid-column: 1;
  grid-row: 2/3;
}

/* line 38, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea {
  grid-column: 2;
  grid-row: 2;
  background-color: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 0 3em 5em;
}

/* line 45, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .printheader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* line 50, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .printheader h1 {
  margin-top: 20px;
  font-size: 30px;
}

/* line 57, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .printmain ul {
  margin: 1em 0;
  padding-top: 1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

/* line 62, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .printmain ul li {
  display: flex;
  padding-bottom: 1em;
}

/* line 66, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .printmain ul li .label {
  flex: 0 1 250px;
}

/* line 70, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .printmain ul li .values {
  font-weight: 700;
}

/* line 82, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .content.ub-kurz #zusatzinformationen,
.printarea .content.ub-kurz #anamnese {
  display: none;
}

/* line 87, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .content.ub-kurz .accordion:not(.hasvalues) {
  display: none;
}

/* line 92, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .content .value.edit,
.printarea .content .actions {
  display: none !important;
}

/* line 98, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .container1 > .accordion-header {
  font-size: 18px;
  font-weight: 700;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  margin-top: 2em;
  margin-bottom: 0.5em;
}

/* line 106, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .container2 > .accordion-header {
  font-size: 16px;
  font-weight: 700;
  margin-top: 2em;
  margin-bottom: 0.5em;
}

/* line 114, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .container3 > .accordion-header {
  font-size: 14px;
  font-weight: 700;
  margin-top: 2em;
  margin-bottom: 0.5em;
}

/* line 122, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem > div {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: mincontent min-content;
  grid-gap: 10px;
  margin-bottom: 1em;
}

/* line 129, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem > div .infos {
  grid-column: 1 / 3;
  grid-row: 1;
}

/* line 133, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem > div .infos .hint {
  font-size: 12px;
}

/* line 137, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem > div .infos .help {
  display: none;
}

/* line 143, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem > div label {
  grid-column: 1;
  grid-row: 2;
  text-align: right;
}

/* line 149, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem > div .values {
  grid-column: 2;
  grid-row: 2;
}

/* line 153, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem > div .values .value {
  display: grid;
  grid-template-columns: repeat(12, 49px);
  grid-gap: 4px;
}

/* line 158, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem > div .values .value p,
.printarea .feedbackitem > div .values .value .pos1 {
  grid-column: 1/13;
  grid-row: 1;
  font-weight: 700;
}

/* line 165, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem > div .values .value .pos2 {
  grid-column: 3/13;
  grid-row: 1;
}

/* line 170, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem > div .values .value .td {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 4px;
  height: 24px;
  margin-bottom: 3px;
  margin-right: 3px;
}

/* line 187, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .check_von_bis input[type=""],
.printarea .feedbackitem .custom_vminfo input[type=""] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* line 195, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .check_von_bis i,
.printarea .feedbackitem .custom_vminfo i {
  color: rgba(0, 0, 0, 0.2);
}

/* line 200, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .check_von_bis .checkmark:hover,
.printarea .feedbackitem .custom_vminfo .checkmark:hover {
  color: #F08100 !important;
  cursor: pointer;
}

/* line 208, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .check_von_bis input[type="date"] {
  width: auto;
  margin-left: 1em;
}

/* line 213, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .check_von_bis .date.hidden {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

/* line 218, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .check_von_bis .date.visible {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

/* line 223, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .check_von_bis .von {
  grid-column: 2/6;
}

/* line 227, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .check_von_bis .bis {
  grid-column: 6/10;
}

/* line 234, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .fitext input,
.printarea .feedbackitem .text_singleline input {
  grid-column: 1 / 13;
}

/* line 241, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .fitextarea .textarea,
.printarea .feedbackitem .text_multiline .textarea {
  grid-column: 1 / 13;
}

/* line 253, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .custom_vminfo#FI_DOCIV .uvgcasenumber,
.printarea .feedbackitem .custom_vminfo#FI_DOCIV .decision {
  display: none;
}

/* line 260, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .custom_vminfo#FI_DOCUVG .decree {
  display: none;
}

/* line 267, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .custom_vminfo#FI_DOCHP .uvgcasenumber,
.printarea .feedbackitem .custom_vminfo#FI_DOCHP .decree {
  display: none;
}

/* line 275, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .datum input {
  grid-column: 1/7;
}

/* line 281, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .fizahltext input.value {
  grid-column: 1 /3;
}

/* line 285, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .fizahltext input.bemerkung {
  grid-column: 3 / 13;
}

/* line 294, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .finegposbem .radio,
.printarea .feedbackitem .fineinjabem .radio,
.printarea .feedbackitem .fiunaufbem .radio,
.printarea .feedbackitem .ja_nein_bemerkung .radio {
  cursor: pointer;
}

/* line 298, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .finegposbem .no,
.printarea .feedbackitem .fineinjabem .no,
.printarea .feedbackitem .fiunaufbem .no,
.printarea .feedbackitem .ja_nein_bemerkung .no {
  grid-column: 1/3;
}

/* line 302, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .finegposbem .yes,
.printarea .feedbackitem .fineinjabem .yes,
.printarea .feedbackitem .fiunaufbem .yes,
.printarea .feedbackitem .ja_nein_bemerkung .yes {
  grid-column: 3/5;
}

/* line 306, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .finegposbem .bemerkung,
.printarea .feedbackitem .fineinjabem .bemerkung,
.printarea .feedbackitem .fiunaufbem .bemerkung,
.printarea .feedbackitem .ja_nein_bemerkung .bemerkung {
  grid-column: 5/13;
}

/* line 310, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .finegposbem .selected,
.printarea .feedbackitem .fineinjabem .selected,
.printarea .feedbackitem .fiunaufbem .selected,
.printarea .feedbackitem .ja_nein_bemerkung .selected {
  background-color: #8296C4;
  border-color: #8296C4;
  color: white;
  transition: background-color 0.5s ease;
}

/* line 320, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-bmi .bmi,
.printarea .feedbackitem .custom_bmi .bmi {
  grid-column: 1 / 3;
}

/* line 324, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-bmi .td.bmi,
.printarea .feedbackitem .custom_bmi .td.bmi {
  font-weight: 700;
}

/* line 328, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-bmi .groesse,
.printarea .feedbackitem .custom_bmi .groesse {
  grid-column: 3 / 5;
}

/* line 332, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-bmi .gewicht,
.printarea .feedbackitem .custom_bmi .gewicht {
  grid-column: 5 / 7;
}

/* line 336, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-bmi .bemerkung,
.printarea .feedbackitem .custom_bmi .bemerkung {
  grid-column: 7 / 13;
}

/* line 344, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-auf .value:hover,
.printarea .feedbackitem .custom_auf .value:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  cursor: grab;
}

/* line 349, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-auf .beginn,
.printarea .feedbackitem .custom_auf .beginn {
  grid-column: 1 / 3;
}

/* line 353, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-auf .ende,
.printarea .feedbackitem .custom_auf .ende {
  grid-column: 3 / 5;
}

/* line 357, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-auf .grad,
.printarea .feedbackitem .custom_auf .grad {
  grid-column: 5 / 7;
}

/* line 361, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-auf .verlauf,
.printarea .feedbackitem .custom_auf .verlauf {
  grid-column: 7 / 13;
}

/* line 368, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-bld .zeit,
.printarea .feedbackitem .custom_blutdruck .zeit {
  grid-column: 1 / 3;
}

/* line 372, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-bld .druck,
.printarea .feedbackitem .custom_blutdruck .druck {
  grid-column: 3 / 5;
}

/* line 376, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-bld .kommentar,
.printarea .feedbackitem .custom_blutdruck .kommentar {
  grid-column: 5 / 13;
}

/* line 384, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-visus .value,
.printarea .feedbackitem .cus-visuskor .value,
.printarea .feedbackitem .custom_visus .value {
  grid-template-rows: repeat(4, min-content);
}

/* line 388, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-visus .values .subtitle:first-of-type ~ .subtitle,
.printarea .feedbackitem .cus-visuskor .values .subtitle:first-of-type ~ .subtitle,
.printarea .feedbackitem .custom_visus .values .subtitle:first-of-type ~ .subtitle {
  margin-top: 2em;
}

/* line 392, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-visus .thc,
.printarea .feedbackitem .cus-visuskor .thc,
.printarea .feedbackitem .custom_visus .thc {
  grid-row: 1;
}

/* line 396, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-visus .th2,
.printarea .feedbackitem .cus-visuskor .th2,
.printarea .feedbackitem .custom_visus .th2 {
  grid-row: 2;
}

/* line 400, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-visus .fe,
.printarea .feedbackitem .cus-visuskor .fe,
.printarea .feedbackitem .custom_visus .fe {
  grid-column: 2/4;
}

/* line 405, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-visus .na,
.printarea .feedbackitem .cus-visuskor .na,
.printarea .feedbackitem .custom_visus .na {
  grid-column: 5;
}

/* line 409, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-visus .l,
.printarea .feedbackitem .cus-visuskor .l,
.printarea .feedbackitem .custom_visus .l {
  grid-row: 3;
}

/* line 413, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-visus .e,
.printarea .feedbackitem .cus-visuskor .e,
.printarea .feedbackitem .custom_visus .e {
  grid-row: 4;
}

/* line 417, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-visus thr,
.printarea .feedbackitem .cus-visuskor thr,
.printarea .feedbackitem .custom_visus thr {
  grid-column: 1;
}

/* line 421, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-visus .re,
.printarea .feedbackitem .cus-visuskor .re,
.printarea .feedbackitem .custom_visus .re {
  grid-column: 2/4;
}

/* line 425, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-visus .li,
.printarea .feedbackitem .cus-visuskor .li,
.printarea .feedbackitem .custom_visus .li {
  grid-column: 4/6;
}

/* line 429, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-visus .bi,
.printarea .feedbackitem .cus-visuskor .bi,
.printarea .feedbackitem .custom_visus .bi {
  grid-column: 7/9;
}

/* line 435, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-korrektur .value {
  grid-template-rows: repeat(4, min-content);
}

/* line 438, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-korrektur .value .thr {
  grid-column: 1;
}

/* line 442, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-korrektur .value .re {
  grid-column: 2/4;
}

/* line 446, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-korrektur .value .li {
  grid-column: 4/6;
}

/* line 450, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-korrektur .value .thc {
  grid-row: 1;
}

/* line 454, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-korrektur .value .sph {
  grid-row: 2;
}

/* line 458, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-korrektur .value .cyl {
  grid-row: 3;
}

/* line 462, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-korrektur .value .add {
  grid-row: 4;
}

/* line 469, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-ergmessung label,
.printarea .feedbackitem .custom_emessung label {
  padding: 0;
}

/* line 473, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-ergmessung .methode,
.printarea .feedbackitem .custom_emessung .methode {
  grid-column: 1/6;
}

/* line 477, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-ergmessung .resultat,
.printarea .feedbackitem .custom_emessung .resultat {
  grid-column: 6/13;
}

/* line 482, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-anomaloskop,
.printarea .feedbackitem .custom_farbsinn {
  grid-row: repeat(4, min-content);
}

/* line 486, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-anomaloskop .thc,
.printarea .feedbackitem .custom_farbsinn .thc {
  grid-row: 1;
}

/* line 490, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-anomaloskop .r15,
.printarea .feedbackitem .custom_farbsinn .r15 {
  grid-row: 2;
}

/* line 494, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-anomaloskop .r13,
.printarea .feedbackitem .custom_farbsinn .r13 {
  grid-row: 3;
}

/* line 498, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-anomaloskop .r12,
.printarea .feedbackitem .custom_farbsinn .r12 {
  grid-row: 4;
}

/* line 502, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-anomaloskop .thr,
.printarea .feedbackitem .custom_farbsinn .thr {
  grid-column: 1;
}

/* line 506, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-anomaloskop .v1,
.printarea .feedbackitem .custom_farbsinn .v1 {
  grid-column: 2;
}

/* line 510, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-anomaloskop .v2,
.printarea .feedbackitem .custom_farbsinn .v2 {
  grid-column: 3;
}

/* line 514, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-anomaloskop .v3,
.printarea .feedbackitem .custom_farbsinn .v3 {
  grid-column: 4;
}

/* line 518, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-anomaloskop .v4,
.printarea .feedbackitem .custom_farbsinn .v4 {
  grid-column: 5;
}

/* line 522, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-anomaloskop .v5,
.printarea .feedbackitem .custom_farbsinn .v5 {
  grid-column: 6;
}

/* line 526, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-anomaloskop .v6,
.printarea .feedbackitem .custom_farbsinn .v6 {
  grid-column: 7;
}

/* line 531, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-audio,
.printarea .feedbackitem .custom_audio {
  grid-row: repeat(3, min-content);
}

/* line 535, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-audio .thc,
.printarea .feedbackitem .custom_audio .thc {
  grid-row: 1;
}

/* line 539, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-audio .re,
.printarea .feedbackitem .custom_audio .re {
  grid-row: 2;
}

/* line 543, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-audio .li,
.printarea .feedbackitem .custom_audio .li {
  grid-row: 3;
}

/* line 547, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-audio .thr,
.printarea .feedbackitem .custom_audio .thr {
  grid-column: 1;
}

/* line 551, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-audio .v1,
.printarea .feedbackitem .custom_audio .v1 {
  grid-column: 2;
}

/* line 555, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-audio .v2,
.printarea .feedbackitem .custom_audio .v2 {
  grid-column: 3;
}

/* line 559, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-audio .v3,
.printarea .feedbackitem .custom_audio .v3 {
  grid-column: 4;
}

/* line 563, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-audio .v4,
.printarea .feedbackitem .custom_audio .v4 {
  grid-column: 5;
}

/* line 567, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-audio .v5,
.printarea .feedbackitem .custom_audio .v5 {
  grid-column: 6;
}

/* line 571, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-audio .v6,
.printarea .feedbackitem .custom_audio .v6 {
  grid-column: 7;
}

/* line 575, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-audio .v7,
.printarea .feedbackitem .custom_audio .v7 {
  grid-column: 8;
}

/* line 579, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-audio .v8,
.printarea .feedbackitem .custom_audio .v8 {
  grid-column: 9;
}

/* line 584, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-medi {
  grid-template-rows: repeat(3, min-content);
}

/* line 587, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-medi .thc {
  grid-row: 1;
}

/* line 591, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-medi .th2 {
  grid-row: 2;
}

/* line 595, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-medi .td {
  grid-row: 3;
}

/* line 599, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-medi .td.r2 {
  grid-row: 4;
}

/* line 603, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-medi .name {
  grid-column: 1 / 4;
}

/* line 607, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-medi .einh {
  grid-column: 4;
}

/* line 611, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-medi .dos {
  grid-column: 5/9;
}

/* line 615, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-medi .mo {
  grid-column: 5;
}

/* line 619, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-medi .mi {
  grid-column: 6;
}

/* line 623, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-medi .ab {
  grid-column: 7;
}

/* line 627, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-medi .na {
  grid-column: 8;
}

/* line 631, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-medi .bem {
  grid-column: 9/11;
}

/* line 635, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
.printarea .feedbackitem .cus-medi .seit {
  grid-column: 11/13;
}

/* Styles nur für Print */
@media print {
  /* line 646, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
  * {
    box-shadow: none !important;
  }
  /* line 650, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
  .printarea {
    padding: 0;
    margin: 0;
  }
  /* line 655, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
  header,
  .infopanel {
    display: none;
  }
  /* line 664, C:/xampp/htdocs/prototypes/assets/scss/print.scss */
  .accordion-header {
    page-break-after: avoid;
  }
}

@page {}@page {
  size: A4;
}

@page : right {
  @bottom-right {
    content: "Page " counter(page) " of " counter(pages);
  }
}

@page : left {
  @bottom-left {
    content: "Page " counter(page) " of " counter(pages);
  }
}

/*# sourceMappingURL=../css/print.map */