@charset "UTF-8";
/* Colors */
/* Schriftfarben */
/* line 21, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.luc header.mainheader {
  background-color: #9A0941;
  color: white;
}

/* line 26, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.luc aside.infopanel {
  background-color: #F4F1E9;
}

/* Fonts */
/* line 32, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
p,
div,
a,
main,
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif;
  color: rgba(0, 0, 0, 0.8);
}

/* line 46, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
::placeholder {
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  font-weight: 400;
}

/* Basisgrid */
/* line 53, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
body {
  display: grid;
  grid-template-columns: 450px 1fr;
  grid-template-rows: 60px min-content min-content 1fr;
  grid-template-areas: "header header" "info title" "info tabs" "info main";
  height: 100vh;
  width: 100vw;
  position: fixed;
}

/* line 68, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
header.mainheader {
  grid-area: header;
  height: 60px;
  display: grid;
  align-items: center;
  padding: 1em;
}

/* line 76, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
nav.mainnav {
  display: none;
  padding: 1em;
}

/* line 81, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
aside.infopanel {
  grid-area: info;
  padding: 1em;
}

/* line 87, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
header.tabs {
  grid-area: tabs;
  display: grid;
  align-content: flex-end;
}

/* line 93, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.seitentitel {
  grid-area: title;
}

/* line 98, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: max-content;
  overflow: scroll;
}

/* line 108, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
div.content {
  grid-column: 1;
  grid-row: 1;
}

/* line 113, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
aside.actionbar {
  grid-column: 2;
  grid-row: 1;
  padding: 1em;
  position: sticky;
  top: 0;
  height: 100%;
}

/* einzelne Sektionen ======================   */
/* line 125, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
header.mainheader .wobinich {
  font-size: 29px;
  display: flex;
}

/* line 129, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
header.mainheader .wobinich a:visited,
header.mainheader .wobinich a {
  color: white;
}

/* line 134, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
header.mainheader .wobinich p {
  padding: 0 1em;
  color: white;
}

/* line 142, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
header.tabs nav.tabs {
  padding-bottom: 0.5em;
}

/* line 145, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
header.tabs nav.tabs ul {
  display: flex;
  border-bottom: 1px solid black;
}

/* line 151, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
header.tabs nav.tabs li a {
  text-decoration: none;
  display: block;
  padding: 0.25em 2em;
  border-bottom: 5px solid white;
  color: rgba(0, 0, 0, 0.5);
}

/* line 158, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
header.tabs nav.tabs li a:visited {
  color: rgba(0, 0, 0, 0.5);
}

/* line 162, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
header.tabs nav.tabs li a.active {
  border-bottom-color: #B4C0DC;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
}

/* line 173, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.seitentitel {
  padding-bottom: 0.5em;
  padding-left: 2em;
}

/* line 179, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.seitentitel h1 {
  font-size: 24px;
  font-weight: 400;
  padding: 1.5em 0 1em 0;
  color: #8296C4;
}

/* line 187, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
main {
  background-color: white;
}

/* line 190, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
main .accordion {
  margin: 1em 0;
  height: 100%;
}

/* line 194, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
main .accordion .accordion-header {
  display: grid;
  grid-template-columns: minmax(250px, 25%) 1fr;
  grid-column-gap: 16px;
  cursor: pointer;
  position: sticky;
}

/* line 201, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
main .accordion .accordion-header:hover {
  padding-left: 0.5em;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-delay: 0.2s;
}

/* line 207, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
main .accordion .accordion-header p {
  grid-row: 1;
}

/* line 211, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
main .accordion .accordion-header .pos1 {
  grid-column: 1 / 4;
}

/* line 216, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
main .accordion .accordion-header .pos2 {
  grid-column: 2 / 4;
}

/* line 220, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
main .accordion .accordion-header .pos2 i {
  float: right;
  padding: 0 1em;
}

/* line 227, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
main .accordion.container1 {
  margin: 1em 0 1em 2em;
}

/* line 232, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
main .accordion.container1 > .accordion-header {
  background-color: #8296C4;
  z-index: 100;
  top: 0;
  border-radius: 2px;
}

/* line 239, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
main .accordion.container1 > .accordion-header p {
  font-size: 16px;
  font-weight: 700;
  color: white;
  padding: 0.5rem;
}

/* line 245, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
main .accordion.container1 > .accordion-header p .markervalue {
  font-weight: 300;
  font-style: italic;
  color: rgba(255, 255, 255, 0.5);
}

/* line 255, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
main .accordion.container1:not(.show) > .accordion-header {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* line 262, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
main .accordion.container1.show > .accordion-header {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* line 268, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
main .accordion.container2 {
  margin: 1em 0;
  margin-bottom: 60px;
  padding-bottom: 6px;
  border-top: 1px solid #E6EAF3;
  border-radius: 2px;
  padding: 1.5em 0 0.5em 0;
  top: 2em;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
  background-color: #f6f7ff;
}

/* line 281, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
main .accordion.container2:hover {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

/* line 289, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
main .accordion.container2 > .accordion-header .pos1 {
  padding-left: 0.5em;
}

/* line 293, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
main .accordion.container2 > .accordion-header p {
  font-size: 16px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
}

/* line 298, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
main .accordion.container2 > .accordion-header p .markervalue {
  font-weight: 300;
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
}

/* line 307, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
main .accordion.container3 {
  z-index: 50;
}

/* line 310, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
main .accordion.container3 p {
  font-size: 14px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
}

/* line 315, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
main .accordion.container3 p:first-child {
  padding-left: 1em;
}

/* line 319, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
main .accordion.container3 p .markervalue {
  font-weight: 300;
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
}

/* ============================================== styles for feedbackitems */
/* line 333, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem {
  /* Styles pro Item-Type --> Values*/
}

/* line 334, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem > div {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: minmax(250px, 25%) 1fr;
  grid-template-rows: min-content min-content;
}

/* line 340, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem > div .infos {
  grid-column: 2 / 3;
  grid-row: 1;
  font-size: 14px;
  padding-top: 1.5em;
}

/* line 346, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem > div .infos div + div {
  padding-top: 0.5em;
}

/* line 351, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem > div .hint {
  color: rgba(0, 0, 0, 0.8);
}

/* line 355, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem > div .help {
  color: #8296C4;
}

/* line 359, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem > div label {
  grid-column: 1;
  grid-row: 2;
  font-weight: 300;
  text-align: right;
  align-self: center;
  line-height: 1;
}

/* line 370, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem > div .values {
  grid-column: 2/3;
  grid-row: 2;
  font-weight: 400;
  width: 100%;
  line-height: 28px;
  min-height: 26px;
  padding: 3px;
  font-size: 16px;
  font-family: Roboto;
  display: grid;
  grid-template-columns: repeat(12, minmax(min-content, 7.41%));
  grid-gap: 1%;
  /* General styles for standard items */
  /* General styles for custom items */
}

/* line 389, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem > div .values input,
.feedbackitem > div .values textarea {
  width: 100%;
  font-family: Roboto;
  line-height: 26px;
  min-height: 28px;
  margin: 0;
  padding: 0 0 0 5px;
  font-size: 16px;
  font-weight: 400;
}

/* line 402, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem > div .values .th,
.feedbackitem > div .values .thc,
.feedbackitem > div .values .thr {
  font-weight: 700;
  padding-left: 0.5em;
}

/* line 409, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem > div .values .th2 {
  font-size: 12px;
  line-height: 1;
}

/* line 416, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem > div .values.read .td {
  background-color: #E6EAF3;
  padding-left: 0.5em;
}

/* line 425, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem > div .radio {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 0 0.5em;
}

/* line 432, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem p,
.feedbackitem p.pos1 {
  grid-column: 1 / 13;
  grid-row: 1;
}

/* line 438, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .pos1 {
  font-weight: 700;
}

/* line 442, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem p.pos2 {
  grid-column: 3 / 13;
  grid-row: 1;
}

/* line 448, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .fitext input {
  grid-column: 1 / 13;
}

/* line 454, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .fitextarea textarea {
  grid-column: 1 / 13;
  height: 3em;
  resize: vertical;
  overflow: auto;
}

/* line 463, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .fizahltext input.value {
  grid-column: 1 /3;
}

/* line 467, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .fizahltext input.bemerkung {
  grid-column: 3 / 13;
}

/* line 475, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .finegposbem .radio,
.feedbackitem .fineinjabem .radio,
.feedbackitem .fiunaufbem .radio {
  cursor: pointer;
}

/* line 479, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .finegposbem .no,
.feedbackitem .fineinjabem .no,
.feedbackitem .fiunaufbem .no {
  grid-column: 1/3;
}

/* line 483, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .finegposbem .yes,
.feedbackitem .fineinjabem .yes,
.feedbackitem .fiunaufbem .yes {
  grid-column: 3/5;
}

/* line 487, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .finegposbem .bemerkung,
.feedbackitem .fineinjabem .bemerkung,
.feedbackitem .fiunaufbem .bemerkung {
  grid-column: 5/13;
}

/* line 491, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .finegposbem .selected,
.feedbackitem .fineinjabem .selected,
.feedbackitem .fiunaufbem .selected {
  background-color: #8296C4;
  border-color: #8296C4;
  color: white;
  transition: background-color 0.5s ease;
}

/* line 500, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-bmi .bmi {
  grid-column: 1 / 3;
}

/* line 504, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-bmi .td.bmi {
  font-weight: 700;
}

/* line 508, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-bmi .groesse {
  grid-column: 3 / 5;
}

/* line 512, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-bmi .gewicht {
  grid-column: 5 / 7;
}

/* line 516, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-bmi .bemerkung {
  grid-column: 7 / 13;
}

/* line 523, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-auf .beginn {
  grid-column: 1 / 3;
}

/* line 527, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-auf .ende {
  grid-column: 3 / 5;
}

/* line 531, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-auf .grad {
  grid-column: 5 / 7;
}

/* line 535, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-auf .verlauf {
  grid-column: 7 / 13;
}

/* line 541, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-bld .zeit {
  grid-column: 1 / 3;
}

/* line 545, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-bld .druck {
  grid-column: 3 / 5;
}

/* line 549, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-bld .kommentar {
  grid-column: 5 / 13;
}

/* line 556, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-visus .values,
.feedbackitem .cus-visuskor .values {
  grid-template-rows: repeat(4, min-content);
}

/* line 560, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-visus .thc,
.feedbackitem .cus-visuskor .thc {
  grid-row: 1;
}

/* line 564, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-visus .th2,
.feedbackitem .cus-visuskor .th2 {
  grid-row: 2;
}

/* line 568, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-visus .fe,
.feedbackitem .cus-visuskor .fe {
  grid-column: 2/4;
}

/* line 573, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-visus .na,
.feedbackitem .cus-visuskor .na {
  grid-column: 5;
}

/* line 577, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-visus .l,
.feedbackitem .cus-visuskor .l {
  grid-row: 3;
}

/* line 581, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-visus .e,
.feedbackitem .cus-visuskor .e {
  grid-row: 4;
}

/* line 585, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-visus thr,
.feedbackitem .cus-visuskor thr {
  grid-column: 1;
}

/* line 589, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-visus .re,
.feedbackitem .cus-visuskor .re {
  grid-column: 2;
}

/* line 593, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-visus .li,
.feedbackitem .cus-visuskor .li {
  grid-column: 3;
}

/* line 597, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-visus .bi,
.feedbackitem .cus-visuskor .bi {
  grid-column: 5;
}

/* line 603, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-korrektur .values {
  grid-template-rows: repeat(4, min-content);
}

/* line 606, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-korrektur .values .thr {
  grid-column: 1;
}

/* line 610, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-korrektur .values .re {
  grid-column: 2;
}

/* line 614, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-korrektur .values .li {
  grid-column: 3;
}

/* line 618, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-korrektur .values .thc {
  grid-row: 1;
}

/* line 622, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-korrektur .values .sph {
  grid-row: 2;
}

/* line 626, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-korrektur .values .cyl {
  grid-row: 3;
}

/* line 630, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-korrektur .values .add {
  grid-row: 4;
}

/* line 636, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-ergmessung label {
  padding: 0;
}

/* line 640, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-ergmessung .methode {
  grid-column: 1/6;
}

/* line 644, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-ergmessung .resultat {
  grid-column: 6/13;
}

/* line 649, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-anomaloskop {
  grid-row: repeat(4, min-content);
}

/* line 652, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-anomaloskop .thc {
  grid-row: 1;
}

/* line 656, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-anomaloskop .r15 {
  grid-row: 2;
}

/* line 660, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-anomaloskop .r13 {
  grid-row: 3;
}

/* line 664, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-anomaloskop .r12 {
  grid-row: 4;
}

/* line 668, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-anomaloskop .thr {
  grid-column: 1;
}

/* line 672, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-anomaloskop .v1 {
  grid-column: 2;
}

/* line 676, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-anomaloskop .v2 {
  grid-column: 3;
}

/* line 680, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-anomaloskop .v3 {
  grid-column: 4;
}

/* line 684, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-anomaloskop .v4 {
  grid-column: 5;
}

/* line 688, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-anomaloskop .v5 {
  grid-column: 6;
}

/* line 692, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-anomaloskop .v6 {
  grid-column: 7;
}

/* line 697, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-audio {
  grid-row: repeat(3, min-content);
}

/* line 700, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-audio .thc {
  grid-row: 1;
}

/* line 704, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-audio .re {
  grid-row: 2;
}

/* line 708, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-audio .li {
  grid-row: 3;
}

/* line 712, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-audio .thr {
  grid-column: 1;
}

/* line 716, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-audio .v1 {
  grid-column: 2;
}

/* line 720, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-audio .v2 {
  grid-column: 3;
}

/* line 724, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-audio .v3 {
  grid-column: 4;
}

/* line 728, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-audio .v4 {
  grid-column: 5;
}

/* line 732, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-audio .v5 {
  grid-column: 6;
}

/* line 736, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-audio .v6 {
  grid-column: 7;
}

/* line 740, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-audio .v7 {
  grid-column: 8;
}

/* line 744, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-audio .v8 {
  grid-column: 9;
}

/* line 749, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-medi {
  grid-template-rows: repeat(3, min-content);
}

/* line 752, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-medi .thc {
  grid-row: 1;
}

/* line 756, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-medi .th2 {
  grid-row: 2;
}

/* line 760, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-medi .td {
  grid-row: 3;
}

/* line 764, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-medi .td.r2 {
  grid-row: 4;
}

/* line 768, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-medi .name {
  grid-column: 1 / 4;
}

/* line 772, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-medi .einh {
  grid-column: 4;
}

/* line 776, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-medi .dos {
  grid-column: 5/9;
}

/* line 780, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-medi .mo {
  grid-column: 5;
}

/* line 784, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-medi .mi {
  grid-column: 6;
}

/* line 788, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-medi .ab {
  grid-column: 7;
}

/* line 792, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-medi .na {
  grid-column: 8;
}

/* line 796, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-medi .bem {
  grid-column: 9/11;
}

/* line 800, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.feedbackitem .cus-medi .seit {
  grid-column: 11/13;
}

/* ===================  control visibility for containers and feedbackitems */
/* line 808, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.read-modus {
  /* Read-Modus für Accordion */
}

/* line 811, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.read-modus .container1 .marginmurks {
  margin-top: 2em;
}

/* line 819, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.read-modus .accordion .feedbackitem {
  margin: 0;
}

/* line 822, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.read-modus .accordion .feedbackitem > div {
  grid-row-gap: 0;
}

/* line 826, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.read-modus .accordion .feedbackitem .infos {
  padding: 0;
}

/* line 831, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.read-modus .accordion.container2 {
  margin: 6px;
}

/* line 834, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.read-modus .accordion.container2 .accordion-header {
  margin: 0;
  padding: 1em 0 0.5em 0;
}

/* line 843, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.read-modus .values.edit {
  display: none;
}

/* line 849, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.read-modus .accordion.novalues .accordion-body {
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease-out;
}

/* line 855, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.read-modus .accordion.novalues > .accordion-header i {
  display: none;
}

/* line 862, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.read-modus .feedbackitem.novalue div {
  display: none;
}

/* line 871, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.edit-modus .values.read {
  display: none;
}

/* line 876, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.edit-modus .markervalue {
  display: none;
}

/* line 881, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.edit-modus .accordion.show .accordion-body {
  max-height: 10000px;
}

/* line 885, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.edit-modus .accordion.show > .accordion-header i {
  transform: rotate(45deg);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* line 892, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.edit-modus .accordion:not(.show) .accordion-body {
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease-out;
}

/* line 898, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
.edit-modus .accordion:not(.show) > .accordion-header i {
  transform: rotate(0deg);
  transition: all 0.5s ease-out;
}

/* line 907, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
aside.actionbar li {
  list-style: none;
  font-size: 32px;
  padding: 0.5em 1em;
}

/* line 912, D:/xampp/htdocs/krbypd/assets/scss/screen - Kopie.scss */
aside.actionbar li a {
  font-size: 1em;
  text-decoration: none;
  display: block;
}

/*# sourceMappingURL=../css/screen - Kopie.map */