@charset "UTF-8";
/* Colors */
/* Colors for Ranges */
/* Font Colors */
/* Fonts */
/*     Feedbackitems */
/* Kombinierte Mixins (Sets) */
/* line 8, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.luc header.mainheader {
  background-color: #9A0941;
  color: white;
}

/* line 13, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.luc main {
  background-color: white;
}

/* Fonts */
/* line 19, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
p,
div,
a,
main {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
}

@media print {
  /* line 19, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
  p,
  div,
  a,
  main {
    font-size: 12px;
    font-family: "Roboto", serif;
  }
}

/* line 26, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
h1,
h2,
h3,
h4,
h5 {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
}

@media print {
  /* line 26, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-size: 12px;
    font-family: "Roboto", serif;
  }
}

/* line 34, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.values {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
}

@media print {
  /* line 34, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
  .values {
    font-size: 12px;
    font-family: "Roboto", serif;
  }
}

/* line 38, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

/* ============================================== Basislayout */
/* line 49, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
body {
  display: grid;
  grid-template-columns: 30px 430px 1fr;
  grid-template-rows: 60px min-content min-content 1fr;
  grid-template-areas: "header header header" "nav info title" "nav info tabs" "nav info main";
}

/* line 64, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
header.mainheader {
  grid-area: header;
  height: 60px;
  display: grid;
  align-items: center;
  padding: 1em;
  background-color: white;
}

/* line 73, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.mainnav {
  position: fixed;
  left: 0;
  top: 60px;
  height: 100vh;
  background-color: white;
  z-index: 1000;
}

/* line 84, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
aside.infopanel {
  grid-area: info;
  padding: 1em;
  background-color: white;
  border-right: 1px solid #8296C4;
}

/* line 92, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
header.tabs {
  grid-area: tabs;
  display: grid;
  align-content: flex-end;
  background-color: white;
  border-bottom: 1px solid #8296C4;
}

/* line 100, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.seitentitel {
  grid-area: title;
  background-color: white;
  border-right: 1px solid #CAB790;
}

/* line 106, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
main {
  background-size: cover;
  background-position: center center;
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-template-rows: min-content max-content;
  grid-template-areas: "header header" "maincontent actionbar";
}

/* line 119, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.main-subnav {
  grid-column: 1;
  grid-row: 1;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* line 127, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
div.content {
  grid-column: 1;
  grid-row: 2;
}

/* line 132, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
aside.actionbar {
  grid-column: 2;
  grid-row: 1/3;
  padding: 1em;
  position: sticky;
  top: 0;
  align-self: flex-start;
}

/* =============================== Allgemeines Styles */
/* line 143, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
::placeholder {
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  font-weight: 400;
}

/* line 149, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.hidden {
  display: none !important;
  max-height: 0;
}

/*  =============================== Styles für einzelne Bereiche   */
/* line 155, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
header.mainheader {
  display: flex;
  justify-content: space-between;
}

/* line 159, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
header.mainheader .wobinich {
  font-size: 29px;
  display: flex;
}

/* line 163, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
header.mainheader .wobinich a:visited,
header.mainheader .wobinich a {
  color: white;
}

/* line 168, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
header.mainheader .wobinich p {
  padding: 0 1em;
  color: white;
}

/* line 174, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
header.mainheader .choseVersion {
  display: flex;
  margin-right: 100px;
}

/* line 179, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
header.mainheader #benutzer {
  min-width: 300px;
}

/* line 183, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
header.mainheader #version {
  min-width: 150px;
}

/* line 187, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
header.mainheader #benutzer,
header.mainheader #version {
  display: flex;
  position: static;
  padding: 1em;
  border: transparent 1px solid;
  justify-content: space-between;
}

/* line 195, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
header.mainheader #benutzer:hover,
header.mainheader #version:hover {
  cursor: pointer;
  border: rgba(255, 255, 255, 0.5) 1px solid;
}

/* line 199, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
header.mainheader #benutzer:hover .hiddenlist,
header.mainheader #version:hover .hiddenlist {
  border: solid 1px #7187bc;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* line 204, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
header.mainheader #benutzer p,
header.mainheader #benutzer i,
header.mainheader #version p,
header.mainheader #version i {
  color: white;
  font-size: 16px;
}

/* line 210, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
header.mainheader #benutzer i,
header.mainheader #version i {
  margin-left: 2em;
}

/* line 215, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
header.mainheader #benutzer .hiddenlist,
header.mainheader #version .hiddenlist {
  background-color: white;
  position: absolute;
  border: 1px solid #B4C0DC;
  z-index: 9999;
}

/* line 222, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
header.mainheader #benutzer .hiddenlist li,
header.mainheader #version .hiddenlist li {
  list-style: none;
  padding: 1em;
}

/* line 226, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
header.mainheader #benutzer .hiddenlist li:hover,
header.mainheader #version .hiddenlist li:hover {
  background-color: #E6EAF3;
}

/* line 232, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
header.mainheader #benutzer .hidden,
header.mainheader #version .hidden {
  display: none;
  max-height: 0;
  overflow: hidden;
}

/* In LuC-Umgebung normalerweise ein dynmisches Logo damit man sieht, dass es ein MockUp ist. Bei Hover dann das Home anzeigen (nicht bei LuC-Startseite, da soll es auf die Hauptseite gehen)*/
/* line 243, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.luc:not(.p-luc) header.mainheader a {
  width: 2em;
}

/* line 246, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.luc:not(.p-luc) header.mainheader a i {
  float: left;
  position: absolute;
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* line 253, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.luc:not(.p-luc) header.mainheader a i.fakehome {
  opacity: 0;
}

/* line 258, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.luc:not(.p-luc) header.mainheader a:hover i.fakehome {
  opacity: 1;
}

/* line 262, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.luc:not(.p-luc) header.mainheader a:hover i.tohome {
  opacity: 0;
}

/* line 270, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.p-luc header.mainheader i.fakehome {
  display: none;
}

/* line 275, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.mainnav {
  background-color: #F4F1E9;
}

/* line 279, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.mainnav .menu-toggle {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  margin-top: 1em;
}

/* line 287, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.mainnav li.closed + ul.subnav {
  display: none;
}

/* line 291, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.mainnav i.open,
nav.mainnav i.closed {
  display: none;
}

/* line 296, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.mainnav.display-full {
  border-right: 1px #CAB790 solid;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* line 297, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.mainnav.display-full + .infopanel {
  display: none;
}

/* line 301, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.mainnav.display-full .menu-toggle {
  padding: 1em 5px;
}

/* line 304, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.mainnav.display-full .menu-toggle i.fa-bars {
  display: none;
}

/* line 313, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.mainnav.display-full ul.topnav {
  margin: 60px 0 0 30px;
}

/* line 316, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.mainnav.display-full ul.topnav li {
  border: #CAB790 1px solid;
}

/* line 320, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.mainnav.display-full ul.topnav li a {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin-bottom: -1px;
  background-color: white;
  padding: 1em 30px;
  text-decoration: none;
  border-right: white 10px solid;
}

/* line 332, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.mainnav.display-full ul.topnav li:last-child a {
  margin-bottom: 0;
}

/* line 338, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.mainnav.display-full ul.topnav li.closed span i.open {
  display: none;
}

/* line 342, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.mainnav.display-full ul.topnav li.closed span i.closed {
  display: inline;
}

/* line 348, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.mainnav.display-full ul.topnav li.open {
  font-weight: 700;
}

/* line 351, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.mainnav.display-full ul.topnav li.open span i.open {
  display: inline;
}

/* line 355, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.mainnav.display-full ul.topnav li.open span i.closed {
  display: none;
}

/* line 361, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.mainnav.display-full ul.topnav li:hover a {
  cursor: pointer;
  border-right: #CAB790 10px solid;
}

/* line 366, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.mainnav.display-full ul.topnav li:hover.blau a {
  border-right: #8296C4 10px solid;
}

/* line 370, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.mainnav.display-full ul.topnav li:hover.gruen a {
  border-right: #B3BA12 10px solid;
}

/* line 374, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.mainnav.display-full ul.topnav li:hover.rot a {
  border-right: #D35186 10px solid;
}

/* line 378, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.mainnav.display-full ul.topnav li:hover.gelb a {
  border-right: #FED037 10px solid;
}

/* line 383, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.mainnav.display-full ul.topnav li span {
  width: 350px;
  display: flex;
}

/* line 389, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.mainnav.display-full ul.topnav li span i {
  flex: 0 0 30px;
}

/* line 396, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.mainnav.display-full ul.subnav {
  margin: 0;
}

/* line 399, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.mainnav.display-full ul.subnav li a span {
  padding-left: 30px;
}

/* line 409, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.mainnav.display-small:hover i {
  color: rgba(0, 0, 0, 0.8) !important;
}

/* line 414, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.mainnav.display-small .menu-toggle {
  padding: 1em 5px;
}

/* line 417, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.mainnav.display-small .menu-toggle .fa-angle-left {
  display: none;
}

/* line 422, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.mainnav.display-small a {
  padding: 1em 5px;
}

/* line 426, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.mainnav.display-small ul.topnav {
  margin: 60px 0 0 0;
}

/* line 429, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.mainnav.display-small ul.topnav li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

/* line 435, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.mainnav.display-small ul.topnav li a {
  text-decoration: none;
  width: 100%;
  text-align: center;
}

/* line 441, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.mainnav.display-small ul.topnav li span {
  display: none;
}

/* line 445, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.mainnav.display-small ul.topnav li i {
  color: #DFD4BC;
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* line 449, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.mainnav.display-small ul.topnav li i.open, nav.mainnav.display-small ul.topnav li i.closed {
  display: none;
}

/* line 455, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.mainnav.display-small ul.topnav li:hover {
  background-color: #CAB790;
}

/* line 459, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.mainnav.display-small ul.topnav li:hover.blau {
  background-color: #8296C4;
}

/* line 463, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.mainnav.display-small ul.topnav li:hover.gruen {
  background-color: #B3BA12;
}

/* line 467, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.mainnav.display-small ul.topnav li:hover.rot {
  background-color: #D35186;
}

/* line 471, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.mainnav.display-small ul.topnav li:hover.gelb {
  background-color: #FED037;
}

/* line 476, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.mainnav.display-small ul.topnav li.hasChildren.closed:hover i.closed {
  display: inline;
}

/* line 480, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.mainnav.display-small ul.topnav li.hasChildren.closed:hover i.icon {
  display: none;
}

/* line 486, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.mainnav.display-small ul.topnav li.hasChildren.open:hover i.open {
  display: inline;
}

/* line 490, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.mainnav.display-small ul.topnav li.hasChildren.open:hover i.icon {
  display: none;
}

/* line 501, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
header.tabs nav.tabs ul {
  display: flex;
}

/* line 506, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
header.tabs nav.tabs li a {
  text-decoration: none;
  display: block;
  padding: 0.25em 2em;
  border-bottom: 4px solid transparent;
  color: rgba(0, 0, 0, 0.5);
}

/* line 513, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
header.tabs nav.tabs li a:visited {
  color: rgba(0, 0, 0, 0.5);
}

/* line 517, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
header.tabs nav.tabs li a.active {
  border-bottom-color: #B4C0DC;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
}

/* line 527, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.seitentitel {
  padding-bottom: 0.5em;
  padding-left: 2em;
}

/* line 531, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.seitentitel h1 {
  font-size: 24px;
  font-weight: 400;
  padding: 1.5em 0 1em 0;
  color: #8296C4;
}

/* line 539, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
main {
  background-color: white;
  position: relative;
}

/* line 544, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
main .content {
  padding: 1em 0 10em 1em;
}

/* line 549, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.main-subnav {
  display: flex;
  justify-content: space-between;
  background-color: #B4C0DC;
  border-bottom: 25px solid white;
}

/* line 557, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.main-subnav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30px;
  padding-left: 1em;
  margin-right: 1em;
}

/* line 567, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.main-subnav li {
  padding: 0 1em;
}

/* line 570, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.main-subnav li a {
  text-decoration: none;
  color: #4a5a7d;
}

/* line 574, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.main-subnav li a:hover {
  color: white;
}

/* line 581, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.main-subnav ul.display li {
  padding: 0.5em;
}

/* line 584, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.main-subnav ul.display li i {
  color: #4a5a7d;
  cursor: pointer;
}

/* line 588, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
nav.main-subnav ul.display li i:hover {
  color: white;
}

/* line 597, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.maincontent {
  grid-area: maincontent;
  padding: 1.5em 0 1em 2em;
}

/* line 603, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
aside.actionbar li {
  cursor: pointer;
  list-style: none;
  font-size: 32px;
  padding: 0.5em 1em;
}

/* line 609, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
aside.actionbar li a {
  font-size: 32px;
  text-decoration: none;
  display: block;
}

/* line 615, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
aside.actionbar li i {
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* line 619, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
aside.actionbar li i.modus.read-modus {
  color: rgba(0, 0, 0, 0.5);
  transform: rotate(45deg);
}

/* line 624, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
aside.actionbar li i.modus.edit-modus {
  color: #F08100;
  transform: rotate(0deg);
}

/* line 630, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
aside.actionbar li i.save {
  color: rgba(0, 0, 0, 0.2);
}

/* line 633, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
aside.actionbar li i.save.tosave {
  color: rgba(0, 0, 0, 0.8);
}

/* line 638, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
aside.actionbar li i.help {
  color: rgba(0, 0, 0, 0.5);
}

/* line 641, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
aside.actionbar li i.help.help-on {
  color: #8296C4;
}

/* ================= Steuerung Anzeige nach Rechten */
/* line 651, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
body:not(.role-arzt) .nurarzt {
  display: none !important;
}

/* line 655, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
body:not(.role-qm-arzt) .nurqmarzt {
  display: none !important;
}

/* line 659, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
body.role-qm-arzt .nichtqmarzt {
  display: none !important;
}

/* ======= Layout & Steuerung Accordion (open/closed) */
/* line 666, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.accordion:not(.open) .accordion-body {
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
  max-height: 0;
  opacity: 0;
  padding: 0 0;
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-right: 1px;
}

/* line 678, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.accordion:not(.open) .actions .compress {
  display: none;
}

/* line 685, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.accordion.edit-modus > .accordion-header {
  cursor: pointer;
}

/* line 688, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.accordion.edit-modus > .accordion-header .hidden {
  display: none;
}

/* line 692, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.accordion.edit-modus > .accordion-header .modus i {
  transform: rotate(0deg);
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* line 697, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.accordion.edit-modus > .accordion-header .markervalue {
  display: none;
}

/* line 703, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.accordion.edit-modus > .accordion-body > .feedbackitem {
  margin-bottom: 0.5em;
}

/* line 709, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.accordion.edit-modus > .accordion-body > .feedbackitem > div .value.edit {
  display: grid;
}

/* line 713, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.accordion.edit-modus > .accordion-body > .feedbackitem > div .value.read {
  display: none;
}

/* line 717, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.accordion.edit-modus > .accordion-body > .feedbackitem > div .value.read.protected {
  display: grid;
}

/* line 729, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.accordion.read-modus > .accordion-header .modus i {
  transform: rotate(45deg);
}

/* line 738, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.accordion.read-modus > .accordion-body > .feedbackitem > div .value.edit {
  display: none;
}

/* line 742, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.accordion.read-modus > .accordion-body > .feedbackitem > div .value.read {
  display: grid;
}

/* =============== Accordion und Container Styles */
/* line 754, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.accordion .accordion-header {
  cursor: pointer;
  display: grid;
  grid-template-columns: 80px minmax(2em, 19%) minmax(2em, 19%) 1fr min-content;
}

/* line 759, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.accordion .accordion-header div {
  grid-row: 1;
  padding: 0.75em;
}

/* line 764, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.accordion .accordion-header .posNum {
  grid-column: 1;
  text-align: right;
}

/* line 769, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.accordion .accordion-header .pospilot {
  grid-column: 1;
  text-align: left;
  display: none;
}

/* line 774, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.accordion .accordion-header .pospilot:hover {
  cursor: grab;
}

/* line 779, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.accordion .accordion-header .pos1 {
  grid-column: 2 / 4;
}

/* line 783, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.accordion .accordion-header .pos1.ellipsis {
  grid-column: 2 / 3;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  text-overflow: ellipsis;
}

/* line 791, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.accordion .accordion-header .pos2 {
  grid-column: 3 / 4;
}

/* line 795, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.accordion .accordion-header .pos3 {
  grid-column: 4 / 5;
}

/* line 799, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.accordion .accordion-header .actions {
  grid-column: 5;
  grid-row: 1;
  justify-content: flex-end;
  align-items: center;
  padding: 0 0.5em;
  display: none;
}

/* line 808, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.accordion .accordion-header .actions li {
  padding: 0 0.5em;
  list-style: none;
  height: 100%;
  display: flex;
  cursor: pointer;
}

/* line 815, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.accordion .accordion-header .actions li i {
  align-self: center;
}

/* line 823, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.container1 {
  margin: 0.5em 0 1em 0.5em;
}

/* line 829, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.container1:hover > .accordion-header .actions,
.container1:hover > .accordion-header .pospilot {
  display: flex;
}

/* line 837, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.container1:not(.open) .toggle i {
  transform: rotate(0deg);
  transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* line 843, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.container1.open .toggle i {
  transform: rotate(45deg);
  transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* line 847, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.container1.open > .accordion-body {
  max-height: 5000px;
  opacity: 1;
}

/* line 853, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.container1 > .accordion-header {
  background-color: #8296C4;
  position: sticky;
  top: 50px;
  z-index: 500;
}

/* line 860, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.container1 > .accordion-header div {
  font-size: 16px;
  font-weight: 700;
  color: white;
}

/* line 867, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.container1 > .accordion-header .actions i {
  color: white;
}

/* line 873, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.container1 > .accordion-body {
  padding-top: 1em;
}

/* line 878, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.container2 {
  border-radius: 3px;
  z-index: 99;
  background: #fff;
  margin-bottom: 0.5em;
  border: solid 1px #d9dfed;
}

/* line 886, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.container2:hover {
  border: solid 1px #d9dfed;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* line 891, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.container2:hover > .accordion-header {
  background-color: #E6EAF3;
}

/* line 894, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.container2:hover > .accordion-header .actions {
  display: flex;
}

/* line 898, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.container2:hover > .accordion-header .pospilot {
  display: inline-block;
}

/* line 902, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.container2:hover > .accordion-header i {
  color: rgba(0, 0, 0, 0.5);
}

/* line 909, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.container2:not(.open) .toggle i {
  transform: rotate(0deg);
  transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* line 915, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.container2.open .toggle i {
  transform: rotate(45deg);
  transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* line 919, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.container2.open > .accordion-body {
  opacity: 1;
  max-height: 1500px;
  margin: 1em 0.25em;
  padding-top: 0em;
}

/* line 928, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.container2.edit-modus .actions .modus i {
  color: rgba(0, 0, 0, 0.8);
}

/* line 934, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.container2 .accordion-header div.pos1 {
  font-size: 16px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
}

/* line 942, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.container2 .accordion-body {
  padding: 1em 1em 2em 0;
}

/* line 947, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.container3 {
  z-index: 50;
  padding: 1em;
}

/* line 952, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.container3:hover .accordion-header {
  background-color: #E6EAF3;
}

/* line 956, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.container3:hover .actions {
  display: flex;
}

/* line 961, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.container3 .accordion-header {
  padding: 0.5em 0;
}

/* line 964, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.container3 .accordion-header div.pos1 {
  font-size: 14px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
}

/* line 969, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.container3 .accordion-header div.pos1:first-child {
  padding-left: 1em;
}

/* =============== Feedbackitems */
/* line 978, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem {
  transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
  max-height: 500px;
  opacity: 1;
  /* ======================    Styles pro Item-Type --> Values*/
  /* ====================== Styles für alle Value-Items */
}

/* line 983, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem.fi-hidden {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 0;
  margin: 0;
}

/* line 993, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem.novalue .value.read {
  display: none !important;
}

/* line 996, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem.novalue .value.read p {
  font-style: italic;
}

/* line 1002, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem div.maingrid {
  display: grid;
  grid-gap: 0 16px;
  grid-template-columns: minmax(250px, 25%) 1fr;
  grid-template-rows: min-content min-content;
  grid-auto-rows: min-content;
}

/* line 1010, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .infos {
  grid-column: 2 / 3;
  grid-row: 1;
}

/* line 1014, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .infos div + div {
  margin-top: 0.5em;
  transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* line 1019, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .infos .hint {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  font-style: italic;
  margin-top: 0.25em;
  margin-bottom: 0.5em;
  max-width: 45em;
}

@media print {
  /* line 1019, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
  .feedbackitem .infos .hint {
    font-size: 12px;
    font-family: "Roboto", serif;
  }
}

@media print {
  /* line 1019, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
  .feedbackitem .infos .hint {
    font-size: 12px;
  }
}

/* line 1023, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .infos .help {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
  color: #8296C4;
  font-size: 14px;
  margin-top: 0.25em;
  margin-bottom: 0.5em;
  max-width: 45em;
}

@media print {
  /* line 1023, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
  .feedbackitem .infos .help {
    font-size: 12px;
    font-family: "Roboto", serif;
  }
}

@media print {
  /* line 1023, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
  .feedbackitem .infos .help {
    display: none;
  }
}

/* line 1027, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .infos .hidden {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* line 1034, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .infos div:not(.hidden) {
  max-height: 200px;
  opacity: 1;
  transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* line 1041, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem label.label {
  grid-column: 1;
  grid-row: 2;
  align-self: flex-start;
  justify-self: right;
  text-align: right;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
  text-align: right;
}

@media print {
  /* line 1041, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
  .feedbackitem label.label {
    font-size: 12px;
    font-family: "Roboto", serif;
  }
}

/* line 1051, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .values {
  grid-column: 2;
  grid-row: 2;
  place-self: center stretch;
}

/* line 1057, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .listvalues {
  grid-column: 2;
  background-color: white;
}

/* line 1062, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .button {
  grid-column: 9 / 13;
}

/* line 1066, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .subButton {
  grid-column: 11 / 13;
  text-align: right;
  font-size: 12px;
  margin-top: 0.5em;
  margin-bottom: 1em;
  max-width: 200px;
  float: right;
}

/* line 1076, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .subButton:hover {
  background-color: #E6EAF3;
}

/* line 1080, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .subButton a {
  display: inline-block;
  padding-right: 0.5em;
  height: 100%;
  width: 100%;
}

/* line 1089, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .values {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
}

@media print {
  /* line 1089, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
  .feedbackitem .values {
    font-size: 12px;
    font-family: "Roboto", serif;
  }
}

/* line 1092, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .values .info {
  font-style: italic;
  color: rgba(0, 0, 0, 0.2);
  color: chartreuse;
}

/* line 1098, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .values .subtitle {
  padding-top: 0.85em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: chartreuse;
}

/* line 1106, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .value {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 8px 5px;
}

/* line 1114, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .value .pos1 {
  max-width: 45em;
}

/* line 1118, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .value.edit {
  background-color: white;
}

/* line 1121, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .value.edit div:not(.radiogroup) {
  margin: 0 3px 3px 0;
}

/* line 1125, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .value.edit div.radiogroup div {
  display: flex;
  align-content: stretch;
}

/* line 1131, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .value.edit div.th {
  padding: 0;
  margin: 0;
}

/* line 1136, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .value.edit div.td.readonly {
  background-color: #E6EAF3;
  padding-left: 0.5em;
}

/* line 1141, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .value.edit input {
  padding-left: 0.5em;
  margin: 0 3px 3px 0;
  background-color: white;
}

/* line 1150, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .value.read {
  background-color: white;
}

/* line 1153, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .value.read .td {
  background-color: #E6EAF3;
  padding-left: 0.5em;
}

/* line 1159, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .value .th.sub {
  font-size: 12px;
  font-family: Font1Screen;
  font-weight: 400;
  line-height: 1;
}

/* line 1164, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .value .icon {
  cursor: pointer;
}

/* line 1168, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .value input,
.feedbackitem .value label,
.feedbackitem .value .textarea {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
  border: solid 1px #d9dfed;
  width: 100%;
}

@media print {
  /* line 1168, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
  .feedbackitem .value input,
  .feedbackitem .value label,
  .feedbackitem .value .textarea {
    font-size: 12px;
    font-family: "Roboto", serif;
  }
}

/* line 1176, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .value .textarea {
  min-height: 5em;
  max-width: 45em;
  padding: 0 0.5em;
}

/* line 1183, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .value p,
.feedbackitem .value .pos1 {
  grid-column: 1 / 13;
  grid-row: 1;
}

/* line 1189, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .value .pos1 {
  font-weight: 700;
}

/* line 1193, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .value .pos2 {
  grid-column: 2 / 13;
  grid-row: 1;
}

/* line 1198, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .value .pos3 {
  grid-column: 3 / 13;
  grid-row: 1;
}

/* line 1203, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .value .pos4 {
  grid-column: 4 / 13;
  grid-row: 1;
}

/* line 1208, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .value .pos5 {
  grid-column: 5 / 13;
  grid-row: 1;
}

/* line 1213, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .value .pos6 {
  grid-column: 6 / 13;
  grid-row: 1;
}

/* line 1218, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .value .pos7 {
  grid-column: 7 / 13;
  grid-row: 1;
}

/* line 1223, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .value .pos8 {
  grid-column: 8 / 13;
  grid-row: 1;
}

/* line 1228, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .value .pos9 {
  grid-column: 9 / 13;
  grid-row: 1;
}

/* line 1233, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .value .pos10 {
  grid-column: 10 / 13;
  grid-row: 1;
}

/* line 1238, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .value .pos11 {
  grid-column: 11 / 13;
  grid-row: 1;
}

/* line 1243, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .value .pos12 {
  grid-column: 12 / 13;
  grid-row: 1;
}

/* line 1247, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .value .pos12.icon {
  text-align: right;
}

/* line 1250, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .value .pos12.icon.delete {
  color: rgba(0, 0, 0, 0.8);
}

/* line 1254, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .value .pos12.icon i {
  width: 2em;
  text-align: center;
}

/* line 1258, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .value .pos12.icon i:hover {
  color: #F86464;
}

/* line 1267, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .multirows {
  grid-column: 1 / 13;
}

/* line 1271, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .multirows.hidden {
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* line 1277, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .multirows.visible {
  max-height: 1000px;
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* line 1282, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .multirows .multirow {
  display: flex;
  margin-bottom: 1em;
}

/* line 1286, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .multirows .multirow .label,
.feedbackitem .multirows .multirow label {
  flex: 0 1 30%;
}

/* line 1295, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .check_von_bis input[type=""],
.feedbackitem .custom_vminfo input[type=""] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* line 1303, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .check_von_bis i,
.feedbackitem .custom_vminfo i {
  color: rgba(0, 0, 0, 0.2);
}

/* line 1308, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .check_von_bis .checkmark:hover,
.feedbackitem .custom_vminfo .checkmark:hover {
  color: #F08100 !important;
  cursor: pointer;
}

/* line 1315, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .check_von_bis input[type="date"] {
  width: auto;
  margin-left: 1em;
}

/* line 1320, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .check_von_bis .date.hidden {
  opacity: 0;
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* line 1325, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .check_von_bis .date.visible {
  opacity: 1;
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* line 1330, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .check_von_bis .von {
  grid-column: 2/6;
}

/* line 1334, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .check_von_bis .bis {
  grid-column: 6/10;
}

/* line 1341, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-auf .value.new,
.feedbackitem .custom_auf .value.new {
  cursor: default;
  margin: 5px -5px;
  padding: 0px;
}

/* line 1349, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-auf .tablevalues > .value,
.feedbackitem .custom_auf .tablevalues > .value {
  margin: 5px -5px;
  padding: 0px;
  cursor: grab;
  border: solid 1px white;
  background-color: white;
  z-index: 100;
}

/* line 1358, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-auf .tablevalues > .value:hover,
.feedbackitem .custom_auf .tablevalues > .value:hover {
  border: solid 1px #d9dfed;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
  background-color: #B4C0DC;
  z-index: 1000;
  border: solid 1px #d9dfed;
}

/* line 45, C:/xampp/htdocs/prototypes/assets/scss/_mixins-sets.scss */
.feedbackitem .cus-auf .tablevalues > .value:hover:hover,
.feedbackitem .custom_auf .tablevalues > .value:hover:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* line 1364, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-auf .tablevalues > .value:hover > div,
.feedbackitem .custom_auf .tablevalues > .value:hover > div {
  background-color: #B4C0DC;
}

/* line 1370, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-auf .beginn,
.feedbackitem .custom_auf .beginn {
  grid-column: 1 / 3;
}

/* line 1374, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-auf .ende,
.feedbackitem .custom_auf .ende {
  grid-column: 3/ 5;
}

/* line 1378, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-auf .grad,
.feedbackitem .custom_auf .grad {
  grid-column: 5 / 7;
}

/* line 1382, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-auf .verlauf,
.feedbackitem .custom_auf .verlauf {
  grid-column: 7 / 13;
}

/* line 1385, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-auf .verlauf i,
.feedbackitem .custom_auf .verlauf i {
  float: right;
  padding: 0.2em 0.5em 0 0;
}

/* line 1392, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-bld,
.feedbackitem .custom_blutdruck {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

/* line 30, C:/xampp/htdocs/prototypes/assets/scss/_mixins-sets.scss */
.feedbackitem .cus-bld .value,
.feedbackitem .custom_blutdruck .value {
  border: solid 1px #d9dfed;
  padding: 1em;
}

/* line 11, C:/xampp/htdocs/prototypes/assets/scss/_mixins-sets.scss */
.feedbackitem .cus-bld .radioitem,
.feedbackitem .custom_blutdruck .radioitem {
  border: solid 1px #d9dfed;
  padding: 0 0.5em;
  width: 100%;
}

/* line 191, C:/xampp/htdocs/prototypes/assets/scss/_mixins.scss */
.feedbackitem .cus-bld .radioitem:hover,
.feedbackitem .custom_blutdruck .radioitem:hover {
  background-color: #eaedf5;
  cursor: pointer;
}

/* line 15, C:/xampp/htdocs/prototypes/assets/scss/_mixins-sets.scss */
.feedbackitem .cus-bld .radioitem.selected,
.feedbackitem .custom_blutdruck .radioitem.selected {
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
  border: solid 1px #7187bc;
  background-color: #8296C4;
  color: white;
}

/* line 201, C:/xampp/htdocs/prototypes/assets/scss/_mixins.scss */
.feedbackitem .cus-bld .radioitem.selected:hover,
.feedbackitem .custom_blutdruck .radioitem.selected:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* line 19, C:/xampp/htdocs/prototypes/assets/scss/_mixins-sets.scss */
.feedbackitem .cus-bld .radiogroup,
.feedbackitem .custom_blutdruck .radiogroup {
  display: flex;
  align-content: center;
}

/* line 23, C:/xampp/htdocs/prototypes/assets/scss/_mixins-sets.scss */
.feedbackitem .cus-bld .radiogroup label:first-of-type,
.feedbackitem .custom_blutdruck .radiogroup label:first-of-type {
  border-right: none;
}

/* line 1398, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-bld .zeit,
.feedbackitem .custom_blutdruck .zeit {
  grid-column: 1 / 3;
}

/* line 1402, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-bld .druck,
.feedbackitem .custom_blutdruck .druck {
  grid-column: 3/ 5;
}

/* line 1406, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-bld .kommentar,
.feedbackitem .custom_blutdruck .kommentar {
  grid-column: 5/13;
}

/* line 1409, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-bld .kommentar i,
.feedbackitem .custom_blutdruck .kommentar i {
  float: right;
  padding: 0.2em 0.5em 0 0;
}

/* line 1415, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-bld .methode,
.feedbackitem .custom_blutdruck .methode {
  grid-column: 5/8;
}

/* line 1419, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-bld .lage,
.feedbackitem .custom_blutdruck .lage {
  grid-column: 8/11;
}

/* line 1423, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-bld .seite,
.feedbackitem .custom_blutdruck .seite {
  grid-column: 11/13;
}

/* line 1427, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-bld .protected,
.feedbackitem .custom_blutdruck .protected {
  grid-column: 1/13;
}

/* line 1432, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-bmi,
.feedbackitem .custom_bmi {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

/* line 30, C:/xampp/htdocs/prototypes/assets/scss/_mixins-sets.scss */
.feedbackitem .cus-bmi .value,
.feedbackitem .custom_bmi .value {
  border: solid 1px #d9dfed;
  padding: 1em;
}

/* line 1436, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-bmi .bmi,
.feedbackitem .custom_bmi .bmi {
  grid-column: 1 / 3;
}

/* line 1440, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-bmi .td.bmi,
.feedbackitem .custom_bmi .td.bmi {
  font-weight: 700;
}

/* line 1444, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-bmi .groesse,
.feedbackitem .custom_bmi .groesse {
  grid-column: 3 / 5;
}

/* line 1448, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-bmi .gewicht,
.feedbackitem .custom_bmi .gewicht {
  grid-column: 5 / 7;
}

/* line 1452, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-bmi .bemerkung,
.feedbackitem .custom_bmi .bemerkung {
  grid-column: 7 / 13;
}

/* line 1458, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-anomaloskop,
.feedbackitem .custom_farbsinn {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

/* line 30, C:/xampp/htdocs/prototypes/assets/scss/_mixins-sets.scss */
.feedbackitem .cus-anomaloskop .value,
.feedbackitem .custom_farbsinn .value {
  border: solid 1px #d9dfed;
  padding: 1em;
}

/* line 1463, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-anomaloskop .main,
.feedbackitem .custom_farbsinn .main {
  grid-row: 1;
}

/* line 1467, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-anomaloskop .th.main.senkrecht,
.feedbackitem .custom_farbsinn .th.main.senkrecht {
  grid-column: span 3;
}

/* line 1472, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-anomaloskop .r15,
.feedbackitem .custom_farbsinn .r15 {
  grid-row: 2;
}

/* line 1476, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-anomaloskop .r13,
.feedbackitem .custom_farbsinn .r13 {
  grid-row: 3;
}

/* line 1480, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-anomaloskop .r12,
.feedbackitem .custom_farbsinn .r12 {
  grid-row: 4;
}

/* line 1484, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-anomaloskop .senkrecht,
.feedbackitem .custom_farbsinn .senkrecht {
  grid-column: 1;
}

/* line 1488, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-anomaloskop .v1,
.feedbackitem .custom_farbsinn .v1 {
  grid-column: 2;
}

/* line 1492, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-anomaloskop .v2,
.feedbackitem .custom_farbsinn .v2 {
  grid-column: 3;
}

/* line 1496, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-anomaloskop .v3,
.feedbackitem .custom_farbsinn .v3 {
  grid-column: 4;
}

/* line 1500, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-anomaloskop .v4,
.feedbackitem .custom_farbsinn .v4 {
  grid-column: 5;
}

/* line 1504, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-anomaloskop .v5,
.feedbackitem .custom_farbsinn .v5 {
  grid-column: 6 / 8;
}

/* line 1508, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-anomaloskop .v6,
.feedbackitem .custom_farbsinn .v6 {
  grid-column: 8 / 10;
}

/* line 1513, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-audio,
.feedbackitem .custom_audio {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

/* line 30, C:/xampp/htdocs/prototypes/assets/scss/_mixins-sets.scss */
.feedbackitem .cus-audio .value,
.feedbackitem .custom_audio .value {
  border: solid 1px #d9dfed;
  padding: 1em;
}

/* line 11, C:/xampp/htdocs/prototypes/assets/scss/_mixins-sets.scss */
.feedbackitem .cus-audio .radioitem,
.feedbackitem .custom_audio .radioitem {
  border: solid 1px #d9dfed;
  padding: 0 0.5em;
  width: 100%;
}

/* line 191, C:/xampp/htdocs/prototypes/assets/scss/_mixins.scss */
.feedbackitem .cus-audio .radioitem:hover,
.feedbackitem .custom_audio .radioitem:hover {
  background-color: #eaedf5;
  cursor: pointer;
}

/* line 15, C:/xampp/htdocs/prototypes/assets/scss/_mixins-sets.scss */
.feedbackitem .cus-audio .radioitem.selected,
.feedbackitem .custom_audio .radioitem.selected {
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
  border: solid 1px #7187bc;
  background-color: #8296C4;
  color: white;
}

/* line 201, C:/xampp/htdocs/prototypes/assets/scss/_mixins.scss */
.feedbackitem .cus-audio .radioitem.selected:hover,
.feedbackitem .custom_audio .radioitem.selected:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* line 19, C:/xampp/htdocs/prototypes/assets/scss/_mixins-sets.scss */
.feedbackitem .cus-audio .radiogroup,
.feedbackitem .custom_audio .radiogroup {
  display: flex;
  align-content: center;
}

/* line 23, C:/xampp/htdocs/prototypes/assets/scss/_mixins-sets.scss */
.feedbackitem .cus-audio .radiogroup label:first-of-type,
.feedbackitem .custom_audio .radiogroup label:first-of-type {
  border-right: none;
}

/* line 1518, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-audio .main,
.feedbackitem .custom_audio .main {
  grid-row: 1;
}

/* line 1522, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-audio .re,
.feedbackitem .custom_audio .re {
  grid-row: 2;
}

/* line 1526, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-audio .li,
.feedbackitem .custom_audio .li {
  grid-row: 3;
}

/* line 1530, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-audio .th r,
.feedbackitem .custom_audio .th r {
  grid-column: 1;
}

/* line 1534, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-audio .v1,
.feedbackitem .custom_audio .v1 {
  grid-column: 2;
}

/* line 1538, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-audio .v2,
.feedbackitem .custom_audio .v2 {
  grid-column: 3;
}

/* line 1542, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-audio .v3,
.feedbackitem .custom_audio .v3 {
  grid-column: 4;
}

/* line 1546, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-audio .v4,
.feedbackitem .custom_audio .v4 {
  grid-column: 5;
}

/* line 1550, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-audio .v5,
.feedbackitem .custom_audio .v5 {
  grid-column: 6;
}

/* line 1554, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-audio .v6,
.feedbackitem .custom_audio .v6 {
  grid-column: 7;
}

/* line 1558, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-audio .v7,
.feedbackitem .custom_audio .v7 {
  grid-column: 8;
}

/* line 1562, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-audio .v8,
.feedbackitem .custom_audio .v8 {
  grid-column: 9;
}

/* line 1571, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-ergmessung .methode,
.feedbackitem .custom_emessung .methode {
  grid-column: 1/6;
}

/* line 1575, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-ergmessung .resultat,
.feedbackitem .custom_emessung .resultat {
  grid-column: 6/13;
}

/* line 1580, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-korrektur {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

/* line 30, C:/xampp/htdocs/prototypes/assets/scss/_mixins-sets.scss */
.feedbackitem .cus-korrektur .value {
  border: solid 1px #d9dfed;
  padding: 1em;
}

/* line 1584, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-korrektur .value .thr {
  grid-column: 1;
}

/* line 1588, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-korrektur .value .re {
  grid-column: 2/4;
}

/* line 1592, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-korrektur .value .li {
  grid-column: 4/6;
}

/* line 1596, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-korrektur .value .thc {
  grid-row: 1;
}

/* line 1600, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-korrektur .value .sph {
  grid-row: 2;
}

/* line 1604, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-korrektur .value .cyl {
  grid-row: 3;
}

/* line 1608, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-korrektur .value .add {
  grid-row: 4;
}

/* line 1614, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-medi {
  grid-template-rows: repeat(3, min-content);
  margin-top: 0.5em;
  margin-bottom: 1em;
}

/* line 30, C:/xampp/htdocs/prototypes/assets/scss/_mixins-sets.scss */
.feedbackitem .cus-medi .value {
  border: solid 1px #d9dfed;
  padding: 1em;
}

/* line 1618, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-medi .main {
  grid-row: 1;
}

/* line 1622, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-medi .sub {
  grid-row: 2;
}

/* line 1626, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-medi .td {
  grid-row: 3;
}

/* line 1630, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-medi .td.r2 {
  grid-row: 4;
}

/* line 1634, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-medi .name {
  grid-column: 1 / 4;
}

/* line 1638, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-medi .einh {
  grid-column: 4;
}

/* line 1642, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-medi .dos {
  grid-column: 5/9;
}

/* line 1646, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-medi .mo {
  grid-column: 5;
}

/* line 1650, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-medi .mi {
  grid-column: 6;
}

/* line 1654, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-medi .ab {
  grid-column: 7;
}

/* line 1658, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-medi .na {
  grid-column: 8;
}

/* line 1662, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-medi .bem {
  grid-column: 9/11;
}

/* line 1666, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-medi .seit {
  grid-column: 11/13;
}

/* line 1672, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-qm .hidden {
  display: none !important;
}

/* line 1678, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-visus,
.feedbackitem .cus-visuskor,
.feedbackitem .custom_visus {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

/* line 30, C:/xampp/htdocs/prototypes/assets/scss/_mixins-sets.scss */
.feedbackitem .cus-visus .value,
.feedbackitem .cus-visuskor .value,
.feedbackitem .custom_visus .value {
  border: solid 1px #d9dfed;
  padding: 1em;
}

/* line 1684, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-visus .th.main,
.feedbackitem .cus-visuskor .th.main,
.feedbackitem .custom_visus .th.main {
  grid-row: 1;
}

/* line 1688, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-visus .th.sub,
.feedbackitem .cus-visuskor .th.sub,
.feedbackitem .custom_visus .th.sub {
  grid-row: 2;
}

/* line 1692, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-visus .th.senkrecht,
.feedbackitem .cus-visuskor .th.senkrecht,
.feedbackitem .custom_visus .th.senkrecht {
  grid-column: 1;
}

/* line 1696, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-visus .ferne,
.feedbackitem .cus-visuskor .ferne,
.feedbackitem .custom_visus .ferne {
  grid-column: 2 / 6;
}

/* line 1700, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-visus .rechts,
.feedbackitem .cus-visuskor .rechts,
.feedbackitem .custom_visus .rechts {
  grid-column: 2 / 4;
}

/* line 1704, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-visus .links,
.feedbackitem .cus-visuskor .links,
.feedbackitem .custom_visus .links {
  grid-column: 4 / 6;
}

/* line 1708, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-visus .naehe,
.feedbackitem .cus-visuskor .naehe,
.feedbackitem .custom_visus .naehe {
  grid-column: 7 / 9;
}

/* line 1712, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-visus .binoc,
.feedbackitem .cus-visuskor .binoc,
.feedbackitem .custom_visus .binoc {
  grid-column: 7 / 9;
}

/* line 1716, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-visus .landolt,
.feedbackitem .cus-visuskor .landolt,
.feedbackitem .custom_visus .landolt {
  grid-row: 3;
}

/* line 1720, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .cus-visus .e,
.feedbackitem .cus-visuskor .e,
.feedbackitem .custom_visus .e {
  grid-row: 4;
}

/* line 1730, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .custom_vminfo#FI_DOCIV .uvgcasenumber,
.feedbackitem .custom_vminfo#FI_DOCIV .decision {
  display: none;
}

/* line 1737, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .custom_vminfo#FI_DOCUVG .decree {
  display: none;
}

/* line 1744, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .custom_vminfo#FI_DOCHP .uvgcasenumber,
.feedbackitem .custom_vminfo#FI_DOCHP .decree {
  display: none;
}

/* line 1752, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .datum input {
  grid-column: 1/7;
}

/* line 1759, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .fitext input,
.feedbackitem .text_singleline input {
  grid-column: 1 / 13;
}

/* line 1765, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .fidatum input {
  border: solid 1px #d9dfed;
  grid-column: 1/13;
}

/* line 1771, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .fimitarbeiter {
  grid-column: 1/13;
}

/* line 1774, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .fimitarbeiter select {
  border: solid 1px #d9dfed;
}

/* line 11, C:/xampp/htdocs/prototypes/assets/scss/_mixins-sets.scss */
.feedbackitem .firadio .radioitem,
.feedbackitem .cus-entscheid .radioitem,
.feedbackitem .cus-icd .radioitem {
  border: solid 1px #d9dfed;
  padding: 0 0.5em;
  width: 100%;
}

/* line 191, C:/xampp/htdocs/prototypes/assets/scss/_mixins.scss */
.feedbackitem .firadio .radioitem:hover,
.feedbackitem .cus-entscheid .radioitem:hover,
.feedbackitem .cus-icd .radioitem:hover {
  background-color: #eaedf5;
  cursor: pointer;
}

/* line 15, C:/xampp/htdocs/prototypes/assets/scss/_mixins-sets.scss */
.feedbackitem .firadio .radioitem.selected,
.feedbackitem .cus-entscheid .radioitem.selected,
.feedbackitem .cus-icd .radioitem.selected {
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
  border: solid 1px #7187bc;
  background-color: #8296C4;
  color: white;
}

/* line 201, C:/xampp/htdocs/prototypes/assets/scss/_mixins.scss */
.feedbackitem .firadio .radioitem.selected:hover,
.feedbackitem .cus-entscheid .radioitem.selected:hover,
.feedbackitem .cus-icd .radioitem.selected:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* line 19, C:/xampp/htdocs/prototypes/assets/scss/_mixins-sets.scss */
.feedbackitem .firadio .radiogroup,
.feedbackitem .cus-entscheid .radiogroup,
.feedbackitem .cus-icd .radiogroup {
  display: flex;
  align-content: center;
}

/* line 23, C:/xampp/htdocs/prototypes/assets/scss/_mixins-sets.scss */
.feedbackitem .firadio .radiogroup label:first-of-type,
.feedbackitem .cus-entscheid .radiogroup label:first-of-type,
.feedbackitem .cus-icd .radiogroup label:first-of-type {
  border-right: none;
}

/* line 1784, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .firadio .radioitem,
.feedbackitem .cus-entscheid .radioitem,
.feedbackitem .cus-icd .radioitem {
  grid-column: span 2;
}

/* line 11, C:/xampp/htdocs/prototypes/assets/scss/_mixins-sets.scss */
.feedbackitem .firadiobem .radioitem {
  border: solid 1px #d9dfed;
  padding: 0 0.5em;
  width: 100%;
}

/* line 191, C:/xampp/htdocs/prototypes/assets/scss/_mixins.scss */
.feedbackitem .firadiobem .radioitem:hover {
  background-color: #eaedf5;
  cursor: pointer;
}

/* line 15, C:/xampp/htdocs/prototypes/assets/scss/_mixins-sets.scss */
.feedbackitem .firadiobem .radioitem.selected {
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
  border: solid 1px #7187bc;
  background-color: #8296C4;
  color: white;
}

/* line 201, C:/xampp/htdocs/prototypes/assets/scss/_mixins.scss */
.feedbackitem .firadiobem .radioitem.selected:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/* line 19, C:/xampp/htdocs/prototypes/assets/scss/_mixins-sets.scss */
.feedbackitem .firadiobem .radiogroup {
  display: flex;
  align-content: center;
}

/* line 23, C:/xampp/htdocs/prototypes/assets/scss/_mixins-sets.scss */
.feedbackitem .firadiobem .radiogroup label:first-of-type {
  border-right: none;
}

/* line 1792, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .firadiobem .value label {
  grid-column: span 2;
}

/* line 1797, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .firadiobem input.bemerkung.cstart5 {
  grid-column: 5 / 13;
}

/* line 1801, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .firadiobem input.bemerkung.cstart7 {
  grid-column: 7 / 13;
}

/* line 1805, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .firadiobem input.bemerkung.cstart9 {
  grid-column: 9 / 13;
}

/* line 1809, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .firadiobem input.bemerkung.cstart11 {
  grid-column: 11 / 13;
}

/* line 1818, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .fitextarea .textarea,
.feedbackitem .text_multiline .textarea {
  grid-column: 1 / 13;
}

/* line 1824, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .fizahltext input.value {
  grid-column: 1 /3;
}

/* line 1828, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .fizahltext input.bemerkung {
  grid-column: 3 / 13;
}

/* line 1834, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .ja_nein_bemerkung .radio {
  cursor: pointer;
}

/* line 1838, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .ja_nein_bemerkung .no {
  grid-column: 1/3;
}

/* line 1842, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .ja_nein_bemerkung .yes {
  grid-column: 3/5;
}

/* line 1846, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .ja_nein_bemerkung .bemerkung {
  grid-column: 5/13;
}

/* line 1850, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem .ja_nein_bemerkung .selected {
  background-color: #8296C4;
  border: solid 1px #d9dfed;
  color: white;
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* line 1858, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.feedbackitem select {
  grid-column: 1/7;
  padding: 0.5em;
  font-size: 16px;
}

/* ===================================================== Animationen */
/* line 1867, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.slide-in-bottom {
  -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s both;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s both;
}

/* line 1872, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.fade-out {
  -webkit-animation: fade-out 3s ease-out 0s both;
  animation: fade-out 3s ease-out 0s both;
}

/* ========================== Spezielle Styles */
/* line 1878, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.toast {
  position: absolute;
  bottom: 2em;
  left: 2em;
  padding: 1.5em 2em 2em;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  border-radius: 6px;
  border: 1px solid #0fc321;
}

/* line 1887, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.toast h1 {
  font-size: 1.2em;
  line-height: 1.5;
}

/* line 1893, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.toast.hidden {
  display: none;
}

/* line 1897, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.toast.success {
  background-color: #5EF36D;
}

/* line 1901, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.toast.warn {
  background-color: #F8C264;
}

/* line 1905, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.toast.error {
  background-color: #F86464;
}

/* line 1911, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.button {
  display: block;
  padding: 0.5em 1em;
  cursor: pointer;
  text-align: center;
}

/* line 1917, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.button.highemphasis {
  background-color: #F08100;
  color: white;
  font-weight: 700;
  border: solid 1px #ffbd71;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* line 45, C:/xampp/htdocs/prototypes/assets/scss/_mixins-sets.scss */
.button.highemphasis:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* line 1926, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.button.mediumemphasis {
  background-color: #F6B366;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
  border: solid 1px #ffbd71;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* line 45, C:/xampp/htdocs/prototypes/assets/scss/_mixins-sets.scss */
.button.mediumemphasis:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* line 1934, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.button.lowemphasis {
  background-color: none;
  color: rgba(0, 0, 0, 0.8);
  font-weight: 700;
  border: solid 1px #ffbd71;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* line 45, C:/xampp/htdocs/prototypes/assets/scss/_mixins-sets.scss */
.button.lowemphasis:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* line 1942, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.template {
  display: none !important;
}

/* line 1946, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.markervalue {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1;
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
}

@media print {
  /* line 1946, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
  .markervalue {
    font-family: "Roboto", serif;
  }
}

/* line 1950, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 1;
  display: grid;
}

/* line 1951, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.modal.hidden {
  opacity: 0;
  display: none;
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* line 1970, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.modal.small {
  grid-template-columns: 1fr minmax(max-content, 30vw) 1fr;
  grid-template-rows: 1fr minmax(150px, max-content) 2fr;
  grid-template-areas: ". . . " ". content ." ". . .";
}

/* line 1976, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.modal.medium {
  grid-template-columns: 1fr minmax(max-content, 30vw) 1fr;
  grid-template-rows: 1fr minmax(300px, max-content) 2fr;
  grid-template-areas: ". . . " ". content ." ". . .";
  border: solid 1px #7187bc;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* line 1984, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.modal.large {
  grid-template-columns: 1fr minmax(max-content, 50vw) 1fr;
  grid-template-rows: 1fr minmax(500px, max-content) 2fr;
  grid-template-areas: ". . . " ". content ." ". . .";
}

/* line 1990, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.modal .window {
  grid-area: content;
  background-color: white;
  border: solid 1px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* line 1999, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.modal .window div {
  padding: 16px 24px;
}

/* line 2003, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.modal .window .header {
  background-color: #F6B366;
  font-size: 22px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

/* line 2009, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.modal .window .header h1 {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 400;
}

/* line 2015, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.modal .window .message {
  align-items: flex-start;
  font-size: 20px;
  line-height: 1.5;
}

/* line 2020, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.modal .window .message ul {
  margin-top: 2em;
}

/* line 2024, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.modal .window .message li {
  text-align: left;
  display: block;
  margin-bottom: 1em;
  border: solid 1px #ffbd71;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
  transition: all 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* line 45, C:/xampp/htdocs/prototypes/assets/scss/_mixins-sets.scss */
.modal .window .message li:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* line 180, C:/xampp/htdocs/prototypes/assets/scss/_mixins.scss */
.modal .window .message li:hover {
  background-color: #ffc98a;
  cursor: pointer;
}

/* line 2034, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.modal .window .message em {
  font-style: normal;
  font-weight: 700;
}

/* line 2040, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.modal .window .action ul {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-gap: 10px;
}

/* line 2045, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.modal .window .action ul .button {
  min-width: 200px;
  text-align: center;
}

/* line 2050, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.modal .window .action ul .abort {
  grid-column: 1;
}

/* line 2054, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.modal .window .action ul .secondaction {
  grid-column: 2;
}

/* line 2058, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.modal .window .action ul .mainaction {
  grid-column: 3;
}

/* line 2065, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.cards {
  margin-top: 30px;
  max-width: 80%;
  display: grid;
  grid-gap: 32px 16px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

/* line 2072, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.cards .card {
  padding: 1em;
  display: flex;
  justify-content: flex-start;
  border: solid 1px #d9dfed;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* line 45, C:/xampp/htdocs/prototypes/assets/scss/_mixins-sets.scss */
.cards .card:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* line 2079, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.cards .card .logo {
  flex: 1 1 120px;
  padding: 32px 0 0 20px;
}

/* line 2084, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.cards .card .logo i {
  font-size: 72px;
  color: #8296C4;
}

/* line 2090, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.cards .card > .content {
  padding: 1em;
  flex: 3 1 280px;
}

/* line 2094, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.cards .card > .content h1 {
  padding-left: 20px;
}

/* line 2098, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.cards .card > .content li {
  list-style: none;
  padding: 0.5em 20px;
}

/* line 2103, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.cards .card > .content li:hover {
  background-color: #E6EAF3;
  cursor: pointer;
}

/* line 2109, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.cards .card h1 {
  font-size: 24px;
  font-weight: 400;
  color: #8296C4;
  padding-bottom: 1em;
}

/* line 2115, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.dontprint,
.dontprint .accordion {
  background-color: grey;
  background-image: repeating-linear-gradient(-45deg, white 0%, white 2%, #f5f5f5 2%, #f5f5f5 4%, white 4%);
  outline: 5px solid #f5f5f5;
}

/* line 2126, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.dontprint .accordion-header,
.dontprint .accordion .accordion-header {
  background-color: #bcbcbc;
}

/* line 2131, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.diagnose-ui-state-highlight {
  height: 2em;
  font-size: 1em;
  padding: 0.75em;
  margin: 1em -0.5em;
  background-color: aquamarine;
}

/* ========================== Speziell für Monitore */
@media screen {
  /* line 2143, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
  .printonly {
    display: none !important;
  }
  /* line 2147, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
  main {
    overflow-y: scroll;
  }
  /* line 2151, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
  body {
    height: 100vh;
    width: 100vw;
    position: fixed;
  }
  /* line 2157, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
  .reqfield:before {
    content: "*";
    color: #F86464;
  }
  /* line 2162, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
  .hastooltipp {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #b6c2dd;
    cursor: help;
  }
  /* line 2167, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
  .hastooltipp:hover .tooltipptext {
    visibility: visible;
    opacity: 1;
  }
  /* line 2173, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
  .tooltipptext {
    visibility: hidden;
    position: absolute;
    z-index: 100;
    right: 0;
    top: 40px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  /* line 2183, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
  .tooltipptext.help {
    width: 250px;
    background-color: #696868;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    /* Tooltip arrow */
  }
  /* line 2186, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
  .tooltipptext.help::after {
    right: 10%;
    content: "";
    position: absolute;
    top: 0;
    /* left: 10%; */
    margin-top: -10px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #696868 transparent;
  }
}

/* ========================== Ausdrucken */
@media print {
  @page {
    size: A4;
    margin-top: 2cm;
    margin-left: 1.5cm;
    margin-right: 1cm;
    margin-bottom: 2cm;
  }
  /* line 2214, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
  header.mainheader,
  header.tabs,
  nav,
  aside,
  .toast,
  .actions,
  .dontprint,
  .seitentitel,
  .tooltipptext {
    display: none !important;
  }
  /* line 2226, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
  body {
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content max-content;
    grid-template-areas: "printheader" "title" "main";
  }
  /* line 2232, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
  .fixedheader {
    display: none;
    position: fixed;
    top: 0;
    height: 50px;
    padding: 1cm 2cm;
    z-index: 20000;
  }
  /* line 2243, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
  .printheader {
    grid-area: printheader;
    margin-left: 2cm;
    padding: 1em;
  }
  /* line 2249, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
  .printheader .logo {
    text-align: right;
  }
  /* line 2254, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
  .printheader .printmain ul {
    margin-top: 1em;
  }
  /* line 2258, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
  .printheader .printmain li {
    display: grid;
    grid-gap: 0 16px;
    grid-template-columns: 200px 1fr;
    grid-auto-rows: min-content;
  }
  /* line 2264, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
  .printheader .printmain li .label {
    grid-column: 1;
    text-align: right;
  }
  /* line 2269, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
  .printheader .printmain li .values {
    grid-column: 2;
  }
  /* line 2278, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
  .accordion-header {
    page-break-after: avoid;
  }
  /* line 2282, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
  .container1 {
    page-break-before: always;
  }
  /* line 2286, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
  .container2 {
    page-break-inside: avoid;
  }
  /* line 2289, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
  .container2:hover {
    box-shadow: none;
  }
  /* line 2294, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
  .feedbackitem {
    margin-bottom: 1em;
  }
  /* line 2298, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
  .feedbackitem div.maingrid {
    display: grid;
    grid-gap: 0 16px;
    grid-template-columns: 200px 1fr;
    grid-template-rows: min-content min-content;
    grid-auto-rows: min-content;
  }
}

/* ========================== Icons nur im read-Modus ausblenden */
/* line 2310, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.read-modus .cus-auf i {
  display: none;
}

/* line 2314, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.edit-modus .cus-auf i {
  display: block;
}

/* ==========================  Änderungen nach Variante */
/* line 2321, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.variante1 .read-modus .feedbackitem.novalue {
  display: none !important;
}

/* line 2331, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.p-css-gridtest .container1 > .header {
  background-color: salmon;
  padding: 1em;
  position: sticky;
  top: 0;
}

/* line 2340, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.p-css-gridtest .container2 > .header {
  background-color: paleturquoise;
  padding: 1em;
  position: sticky;
  top: 50px;
}

/* line 2348, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.p-css-gridtest .body {
  height: 80vh;
  background-color: darkturquoise;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
  margin: 2em;
  padding: 1em 0;
}

/* line 2361, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.p-css-gridtest .body > div {
  background-color: sandybrown;
  padding: 1em;
  border: 1px solid brown;
  justify-items: stretch;
}

/* line 2372, C:/xampp/htdocs/prototypes/assets/scss/screen.scss */
.debug {
  outline: 5px solid red;
  background-color: aqua;
}

/* ----------------------------------------------
 * Generated by Animista on 2018-11-28 11:16:12
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-in-bottom
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2018-11-28 11:22:26
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation fade-out
 * ----------------------------------------
 */
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*# sourceMappingURL=../css/screen.map */